<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/oficinas.js">
</SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>
</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" onLoad="cargar_modificar()" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>

<div align="center">
<br>
<form name="modificar" method="post" action="../code/_main.php?action=adm/oficinas/representa.php" onSubmit="return verificar_adicion()">
<table width="620" border="1" cellpadding="0" cellspacing="0" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td class="borde_lista" width="620" colspan="4" valign="middle" height="30"><div align="center"> 
            Modificaci&oacute;n Representante Legal</div>
		</td>
	</tr>
	<tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="200" nowrap align="right">Oficina :&nbsp;</td>
        <td class="borde_tabla" width="420" align="left" colspan="3">
		 {$oficina}
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
	  </tr>
      <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" nowrap align="right">Banca :&nbsp;</td>
        <td class="borde_tabla"  align="left" colspan="3">
		{$banca}
		</td>
      </tr>
      <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>
      <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" nowrap align="right">Representante Actual :&nbsp;</td>
        <td class="borde_tabla"  align="left" colspan="3">
		{$nombre}
		</td>
      </tr>
      <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>
      <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla"  nowrap align="right">Representante Nuevo :&nbsp;</td>
        <td class="borde_tabla"  colspan="3" align="left">
		 <select name="nombre" id="nombre"  class="input">
		 {section name=list loop=$representantes}
			<option value='{$representantes[list].representante}'>{$representantes[list].representante}</option>
		 {/section}
		 </select>
		</td>
      </tr>
	  
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>

    </table>

	<table width="620" border="0" class="color_contenido">
      <tr class="tabla"> 
        <td  width="620" colspan="2">&nbsp; </td>
      </tr>
      <tr class="tabla"> 
        <td  width="310" nowrap><div align="right">
            <input type="submit" name="modificar_boton" value="Guardar" class="boton">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="hidden" name="id" value="{$id_ofi}">
			<input type="hidden" name="idr" value="{$idr}">
          </div></td>
		  
</form>		
<form name="modificar_cancelar" method="post" action="../code/_main.php?action=adm/oficinas/representa.php">
        <td  width="310"><div align="left">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="modificar_boton_cancelar" value="Cancelar" class="boton"> </div>
		<input type="hidden" name="id" value="{$id_ofi}">
		</td>
</form>		
      </tr>
    </table>

</div>

</body>
</html>
