<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/oficinas.js">
</SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>

</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>
<div align="center">
<br>
<table width="620" cellpadding="0" cellspacing="0" border="1" align="center" class="borde_lista">
	{assign var="grp" value="x"}
	{section name=lista loop=$oficinas}
	{if $grp!=$oficinas[lista.index].id_almacen}
	<tr class="tabla_titulo_color">
		<td class="borde_lista" width="620" colspan="6" height="20" valign="middle">&nbsp;* {$oficinas[lista.index].ciudad}</td>
	</tr>{assign var="grp" value=$oficinas[lista.index].id_almacen}
	{/if}
	<tr class="tabla_titulo_contenido">
		<td class="borde_lista" width="500">
			&nbsp;<strong>{$oficinas[lista.index].codigo}</strong>&nbsp;{$oficinas[lista.index].nombre}
		</td>

		<td class="borde_lista" width="40"><div align="center">{if $enable_ws =='A'}
			<a href="../code/_main.php?action=adm/oficinas.php&representa=acc&id={$oficinas[lista.index].id_oficina}" onMouseOver=" overlib('Representantes por banca',CAPTION,'Representantes' ); return true" onMouseOut=" nd();   return true"> 
				<img src="../imagenes/pass/asesor.gif" border="0">
			</a>{/if}
		</div></td>
		<td class="borde_lista" width="40"><div align="center">
			<a href="../code/_main.php?action=adm/oficinas.php&modificar=acc&id={$oficinas[lista.index].id_oficina}" onMouseOver=" overlib('Modificación de los valores de esta Oficina',CAPTION,'Modificar' ); return true" onMouseOut=" nd();   return true"> 
				<img src="../imagenes/pass/modificar.jpg" border="0">
			</a>
		</div></td>
		<td class="borde_lista" width="40"><div align="center">
			<a href="../code/_main.php?action=adm/oficinas.php&eliminar=acc&id={$oficinas[lista.index].id_oficina}" onMouseOver=" overlib('Eliminación de los valores de esta Oficina',CAPTION,'Eliminar' ); return true" onMouseOut=" nd();   return true"> 
				<img src="../imagenes/pass/eliminar.jpg" border="0">
			</a>
		</div></td>
		
	</tr>
	{/section}
</table>
<br />
<form name="adicion" method="post" action="../code/_main.php?action=adm/oficinas.php">
<table width="620" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td  width="620"><div align="center">
			<input type="submit" name="adicionar" value="Adicionar Oficina" class="boton">
		</div></td>
	</tr>
</table>
</form>
<br>
</div>
</body>
</html>
