<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/clausulas.js">
</SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>

</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>
<div align="center">
<table width="620" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
		<td width="420" valign="middle" height="35">
			<div align="left"> <font class="tabla_titulo_contenido"> 
Contrato:<br /> <strong>{$tcont}</strong><br /><br />
Cl&aacute;usula:<br /> <strong>{$tclau}</strong> </font> </div>
		</td>
		<td width="200" valign="middle" height="35">
			<div align="right"> <font class="tabla_titulo_contenido"> <a href="{$carpeta_entrar}&idcc={$idco}" class="link_tabla"> 
          Volver a las Cl&aacute;usulas</a> </font> </div>
		</td>
		</tr>
	</table>
<br>
<table width="620" cellpadding="0" cellspacing="0" border="1" align="center" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td class="borde_lista" width="50"  height="20" valign="middle">&nbsp; Nro</td>
		<td class="borde_lista" width="570" colspan="2" height="20" valign="middle">&nbsp; T&iacute;tulo/Descripci&oacute;n</td>
	</tr>

	{section name=lista loop=$incisos}
	<tr class="tabla_titulo_contenido">
		<td class="borde_lista" >
			&nbsp;&nbsp;{$incisos[lista.index].posicion} 
		</td>
		<td class="borde_lista" >
			&nbsp;&nbsp;<strong>{$incisos[lista.index].titulo}</strong>
		</td>
		<td class="borde_lista" ><div align="left">
			<a href="{$carpeta_entrar}&idin={$incisos[lista.index].id}" onMouseOver=" overlib('Contenido',CAPTION,'Ver ' ); return true" onMouseOut=" nd(); return true" > 
			<img src="../imagenes/pass/eye_2.png" border="0"></a>&nbsp;
		</div></td>
	</tr>
	{/section}
</table>
<br />
<form name="adicion" method="post" action="{$carpeta_entrar}">
<table width="620" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td  width="620"><div align="center">
			<input type="submit" name="adicclau" value="Adicionar" class="boton">
			<input type="hidden" name="idcontra_x" value="{$idcc}" >
		</div></td>
	</tr>
</table>
</form>
<br>
</div>
</body>
</html>
