<html>
<head>
<title>Administracion de Sistemas</title>
<script language="javascript" src="../scripts/modalpopups.js"></script>
<SCRIPT LANGUAGE="JavaScript" src="../scriipts/informe_legal_inmueble.js"></SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>
</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" onLoad="cargar_formulario_des()" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>

<div align="center">
	<table width="620" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
		<td width="420" valign="bottom" height="20">
		</td>
		<td width="200" valign="bottom" height="20">
			<div align="right">
			<font class="tabla_titulo_contenido">
			<a href="{$carpeta_entrar}&filtro=1" class="link_tabla">
				Volver a lista de Informes
			</a>
			</font>
			</div>
		</td>
		</tr>
	</table>
<form name="formulario" method="post" action="{$carpeta_entrar}" onSubmit="return deshabilitar_informe()">
<table width="620" border="1" cellpadding="0" cellspacing="0" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td width="620" colspan="4" valign="middle" height="30" class="borde_lista"><div align="center"> 
            Deshabilitaci&oacute;n de Informes Legales ({$tipo_bien})</div>
		</td>
	</tr>
	
      <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  
	  <tr class="tabla_titulo_contenido"> 
        <td width="100" nowrap align="right" class="borde_tabla">Cliente :&nbsp;</td>
        <td width="520" colspan="3" align="left" class="borde_tabla">
		 <input type="text" name="cliente" value="{$cliente}" maxlength="250" class="input" size="80">
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" height="17" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  
	  <tr class="tabla_titulo_contenido"> 
	  	<td width="100" nowrap align="right" class="borde_tabla" valign="middle">C.I. 
          Cliente :&nbsp;</td>
        <td width="210" align="left" class="borde_tabla">
		 <input type="text" name="ci_cliente" value="{$ci_cliente}" maxlength="25" class="input" size="20">
		</td>
        <td width="100" nowrap align="right" class="borde_tabla" valign="middle">&nbsp;</td>
        <td width="210" align="left" class="borde_tabla">&nbsp;
		 
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla"><div align="center"> 
            <input type="submit" name="deshabilitando_informe" value="Quitar Publicaci&oacute;n" class="boton">
			<input type="hidden" name="id" value="{$id}">
			<input type="hidden" name="carpeta_entrar" value="{$carpeta_acc}">
			</div></td>
      </tr>
	<tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
</table>
</form>

</div>
<br>
</body>
</html>
