<html>
<head>
<title>Informe Legal</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
{literal}
<style type="text/css">
.tableBorder {border-collapse:collapse;
font-family: arial; font-size: 10px; height:auto; }
.tdBorder {border:1px solid #808080}
.font11{font-family: arial; font-size: 11px;}
.font12{font-family: arial; font-size: 12px;}
#global {
width: 620px;
padding: 0px;
text-align: left;
background-color: #FFF;
clear: left;
}
p {margin-left:20px; clear: left;}
</style>
{/literal}
</head>

<body>

<div id="global">
<p>
	<table width="100%" cellpadding="3" cellspacing="0" border="0" align="left" class="tableBorder">
		<tr>
			<td width="50%" colspan="2" align="left">
				<img src="../{$logo}">
			</td>
			<td width="50%" colspan="2" align="left">
				<h3>INFORME LEGAL<br>(Personer&iacute;a Jur&iacute;dica)</h3>
			</td>
		</tr>
		<tr><td width="50%" colspan="2" align="right">&nbsp;</td>
		<td width="50%" colspan="2" align="right">&nbsp;<h3><b>{$bandera}</b></h3></td></tr>
		<tr><td width="50%" colspan="2" align="right">&nbsp;</td>
		<td width="50%" colspan="2" align="right">&nbsp;Nro. {if $enable_ws=='A'}Caso{else}{if $enable_ws=='S'}Cuenta{/if}{/if}: {$nrocaso}
		&nbsp;&nbsp;&nbsp;Nro. Informe: {$id}</td>
		</tr>
		<tr><td width="15%" align="right">A:</td>
		<td width="35%">{$nombres}&nbsp;</td>
		<td width="20%" align="right">Fecha Recepci&oacute;n:</td>
		<td width="30%" nowrap>{$fecha_rec}</td></tr>
		
		<tr><td align="right" >Raz&oacute;n Social:</td>
		<td>{$cliente}&nbsp;&nbsp;<br /></td>
		<td align="right">Fecha Aceptaci&oacute;n:</td>
		<td>{$fecha_ace}&nbsp;</td></tr>
		
		<tr><td align="right">NIT: </td>
		<td>{$ci_cliente} {$id_doc}&nbsp;</td>
		<td align="right">Fecha Publicaci&oacute;n:</td>
		<td>{$fecha_pub}&nbsp;</td></tr>
		
		<tr><td align="right">Tipo:</td>
		<td>{$bien}&nbsp;</td>
		<td align="right">&nbsp;</td>
		<td>&nbsp;</td></tr>
		
		<tr><td align="right">Elaborado por:</td>
		<td>{$usr_acep}&nbsp;</td>
		<td align="right">Oficina:</td>
		<td>{$oficina}</td></tr>
	</table>
</p>

<p>
<span class="font12">&nbsp;&nbsp;&nbsp;&nbsp;I. DATOS DE LA CONSTITUCION DE LA EMPRESA</span>

	<table width="100%" cellpadding="3" cellspacing="0" border="0" align="left" class="tableBorder">
		
		<tr><td width="15%" class="tdBorder"  align="right">Tipo:</td>
		<td width="58%" class="tdBorder" class="tdBorder" colspan="3" >{$tipo_sociedad}&nbsp;</td></tr>
		
		<tr><td class="tdBorder" align="right">Objeto Social:</td>
		<td class="tdBorder" colspan="3" >{$actividad}&nbsp;</td></tr>
		
		<tr><td width="15%" class="tdBorder" align="right">Duraci&oacute;n:</td>
		<td width="35%" class="tdBorder">{$duracion}&nbsp;</td>
		<td width="15%" class="tdBorder" align="right">Fecha Vencimiento:</td>
		<td width="35%" class="tdBorder">{$fecha_vence}&nbsp;</td></tr>
		
		<tr><td class="tdBorder" align="right">Domicilio:</td>
		<td class="tdBorder" colspan="3">{$direccion}&nbsp;</td></tr>
		
		
		<tr><td class="tdBorder" align="right" >Matr&iacute;cula:</td>
		<td class="tdBorder">{$matricula}&nbsp;&nbsp;Doc: {$ci}</td>
		<td class="tdBorder" align="right">Fecha Matr&iacute;cula:</td>
		<td class="tdBorder">{$fecha_matri}&nbsp;</td></tr>
		
		<tr><td class="tdBorder" align="right">Escritura:</td>
		<td class="tdBorder">{$nro_escritura}&nbsp;</td>
		<td class="tdBorder" align="right">Fecha Escritura:</td>
		<td class="tdBorder">{$fecha_escri}&nbsp;</td></tr>
		
		<tr><td class="tdBorder" align="right">Notario:</td>
		<td class="tdBorder" colspan="3" >{$notario}&nbsp;</td></tr>
		
		<tr><td colspan="4" class="tdBorder" align="left">&nbsp;N&oacute;mina Directores:
			<table width="100%" cellpadding="1" cellspacing="0" border="0" align="left" class="tableBorder">
			<tr>
			<td width="45%" class="tdBorder"><b>Nombre</b></td>
			<td width="40%" class="tdBorder"><b>Cargo</b></td>
			<td width="15%" class="tdBorder"><b>Doc.</b></td>
			</tr>
			{section name=lista loop=$nomina}
			<tr>
			<td class="tdBorder">{$nomina[lista.index].nombre}&nbsp;</td>
			<td class="tdBorder">{$nomina[lista.index].cargo}&nbsp;</td>
			<td class="tdBorder">{$nomina[lista.index].ci}&nbsp;</td>
			</tr>
			{sectionelse}
			<tr>
			<td class="tdBorder" colspan="3">(Sin directores registrados)</td>
			</tr>
			{/section}
			</table>
		</td></tr>
		
	</table>
</p>

<p>
<span class="font12">&nbsp;&nbsp;&nbsp;&nbsp;II. PODERES DE ADMINISTRACION</span>
{section name=lista loop=$poderes}
	<p>
	<table width="100%" cellpadding="3" cellspacing="0" border="0" align="left" class="tableBorder">
		
		<tr><td width="15%" class="tdBorder" align="right">N&uacute;mero:</td>
		<td width="35%" class="tdBorder">{$poderes[lista.index].numero}&nbsp;</td>
		<td width="15%" class="tdBorder" align="right">Fecha :</td>
		<td width="35%" class="tdBorder">{$poderes[lista.index].fechap}&nbsp;</td></tr>
		
		<tr><td width="15%" class="tdBorder" align="right">Notario/a  :</td>
		<td width="85%" class="tdBorder" colspan="3">{$poderes[lista.index].notario}&nbsp;</td></tr>
		
		<tr><td class="tdBorder" align="right">Otorgante(s) :</td>
		<td class="tdBorder" colspan="3">{$poderes[lista.index].otorgante}&nbsp;</td></tr>
		
		<tr><td class="tdBorder" align="right">Registro:</td>
		<td class="tdBorder" colspan="3" >{$poderes[lista.index].registro}&nbsp;</td></tr>
		
		<tr><td class="tdBorder" align="right" >Tipo documento :</td>
		<td class="tdBorder">{$poderes[lista.index].tipo}&nbsp;</td>
		<td class="tdBorder" align="right">Fojas:</td>
		<td class="tdBorder">{$poderes[lista.index].fojas}&nbsp;</td></tr>
		
		{assign var=personas value=$poderes[lista.index].apoderados }
		<tr><td class="tdBorder" align="left" colspan="4">APODERADO(S):
			<table width="100%" cellpadding="1" cellspacing="0" border="0" align="left" class="tableBorder">
			<tr>
			<td width="27%" class="tdBorder"><b>Nombre</b></td>
			<td width="11%" class="tdBorder"><b>Doc.</b></td>
			<td width="5%" class="tdBorder"><b>Tipo</b></td>
			<!-- td width="5%" class="tdBorder"><b>(*)</b></td -->
			<td width="28%" class="tdBorder"><b>Facultades</b></td>
			<td width="23%" class="tdBorder"><b>Restricciones</b></td>
			<td width="6%" class="tdBorder"><b>Estado</b></td>
			</tr>
			{section name=lista2 loop=$personas}
			<tr>
			<td class="tdBorder">{$personas[lista2.index].apoderado}&nbsp;</td>
			<td class="tdBorder">{$personas[lista2.index].ci}&nbsp;</td>
			<!-- td class="tdBorder">{$personas[lista2.index].tipo}&nbsp;</td -->
			<td class="tdBorder">{$personas[lista2.index].porcentaje}&nbsp;</td>
			<td class="tdBorder">{$personas[lista2.index].facultades}&nbsp;</td>
			<td class="tdBorder">{$personas[lista2.index].restricciones}&nbsp;</td>
			<td class="tdBorder">{$personas[lista2.index].vigente}&nbsp;</td>
			</tr>
			{sectionelse}
			<tr>
			<td class="tdBorder" colspan="3">(Sin apoderados registrados)</td>
			</tr>
			{/section}
			</table>
		</td></tr>
	
	</table>
	</p>
{/section}
</p>
<p>
<span class="font12">&nbsp;&nbsp;&nbsp;&nbsp;III. DOCUMENTACION EXISTENTE SIN OBSERVACION</span>
	<table width="100%" cellpadding="1" cellspacing="0" border="0" align="left" class="tableBorder">
	<tr>
	<td width="40%" class="tdBorder"><b>Documento</b></td>
	<td width="10%" class="tdBorder"><b>Fecha</b></td>
	<td width="10%" class="tdBorder"><b>Fecha Vence</b></td>
	<td width="35%" class="tdBorder"><b>Tipo</b></td>
	<td width="5%" class="tdBorder"><b>Fojas</b></td>
	</tr>
	{section name=lista loop=$infor1}
	<tr>
	<td class="tdBorder">{$infor1[lista.index].documento}&nbsp;{if $infor1[lista.index].numero !=''} - {$infor1[lista.index].numero}{/if}</td>
	<td class="tdBorder">{$infor1[lista.index].fechas}&nbsp;</td>
	<td class="tdBorder">{$infor1[lista.index].fechas_vencimiento}&nbsp;</td>
	<td class="tdBorder">{$infor1[lista.index].tipo}&nbsp;</td>
	<td class="tdBorder">{$infor1[lista.index].fojas}&nbsp;</td>
	</tr>
	{/section}
	</table>
</p>


<p>
<span class="font12">&nbsp;&nbsp;&nbsp;&nbsp;IV. OBSERVACIONES </span>
<br />
<span class="font11">&nbsp;&nbsp;&nbsp;&nbsp;<u>a) Documentaci&oacute;n existente con observaci&oacute;n</u></span>

	<table width="100%" cellpadding="1" cellspacing="0" border="0" align="left" class="tableBorder">
	<tr>
	<td width="34%" class="tdBorder"><b>Documento</b></td>
	<td width="10%" class="tdBorder"><b>Fecha</b></td>
	<td width="15%" class="tdBorder"><b>Tipo</b></td>
	<td width="5%" class="tdBorder"><b>Fojas</b></td>
	<td width="36%" class="tdBorder"><b>Obs</b></td>
	</tr>
	{section name=lista loop=$infor2}
	<tr >
	<td class="tdBorder">{$infor2[lista.index].documento}&nbsp;{if $infor2[lista.index].numero !=''} - {$infor2[lista.index].numero}{/if}</td>
	<td class="tdBorder">{$infor2[lista.index].fechas}&nbsp;</td>
	<td class="tdBorder">{$infor2[lista.index].tipo}&nbsp;</td>
	<td class="tdBorder">{$infor2[lista.index].fojas}&nbsp;</td>
	<td class="tdBorder">{$infor2[lista.index].obs}&nbsp;</td>
	</tr>
	{/section}
	</table>
</p>
<p>
<span class="font11">&nbsp;&nbsp;&nbsp;&nbsp;<u>b) Documentaci&oacute;n faltante</u></span>
<table width="100%" cellpadding="1" cellspacing="0" border="0" align="left" class="tableBorder">
	<tr>
	<td width="100%">
	{section name=lista loop=$infor3}
	- {$infor3[lista.index].documento}&nbsp;<br />
	{sectionelse}
	(sin documentaci&oacute;n faltante)
	{/section}
	</td>
	</tr>
	</table>
</p>
<p>
<span class="font11">&nbsp;&nbsp;&nbsp;&nbsp;<u>c) Otras Observaciones</u></span>
	<table width="100%" cellpadding="1" cellspacing="0" border="0" align="left" class="tableBorder">
	<tr>
	<td width="100%">&nbsp;{$otras_observaciones}</td>
	</tr>
	</table>
</p>
<p>	
<span class="font12">&nbsp;&nbsp;&nbsp;&nbsp;V. CONCLUSIONES y/o RECOMENDACIONES</span>
	<table width="100%" cellpadding="1" cellspacing="0" border="0" align="left" class="tableBorder">
	<tr>
	<td width="100%">&nbsp;{$conclusiones}</td>
	</tr>
	</table>
</p>
</div>	
</body>
</html>