<table width="620">
	  <tr class="tabla_titulo_color">
		<td width="620" colspan="4" valign="middle" height="30" class="borde_lista"><div align="left"> 
            &nbsp;* Datos Generales de la Personer&iacute;a Jur&iacute;dica<a name="acc2"></a> </div>
		</td>
	  </tr>
      <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="110" nowrap align="right" class="borde_tabla" valign="top">Nombre Asoc. :&nbsp;</td>
        <td width="510" colspan="3" align="left" class="borde_tabla" valign="top">
		 <textarea class="input" name="descripcion_bien" rows="2" cols="80">{$descripcion_bien}</textarea>
		 </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="110" nowrap align="right" class="borde_tabla" valign="top">Tipo de sociedad :&nbsp;</td>
        <td width="510" colspan="3" align="left" class="borde_tabla" valign="top">
		 <textarea name="extension" cols="80" rows="2" class="input" id="extension">{$extension}</textarea>
		 </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="110" nowrap align="right" class="borde_tabla" valign="top">Objeto y objetivos :&nbsp;</td>
        <td width="510" colspan="3" align="left" class="borde_tabla" valign="top">
		 <textarea name="extension" cols="80" rows="2" class="input" id="extension">{$extension}</textarea>
		 </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="110" nowrap align="right" class="borde_tabla" valign="top">Actividad principal :&nbsp;</td>
        <td width="510" colspan="3" align="left" class="borde_tabla" valign="top">
		 <textarea name="extension" cols="80" rows="2" class="input" id="extension">{$extension}</textarea>
		 </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="110" nowrap align="right" class="borde_tabla" valign="top">Tipo de sociedad :&nbsp;</td>
        <td width="510" colspan="3" align="left" class="borde_tabla" valign="top">
		 <textarea name="extension" cols="80" rows="2" class="input" id="extension">{$extension}</textarea>
		 </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="110" nowrap align="right" class="borde_tabla" valign="top">Duraci&oacute;n :&nbsp;</td>
        <td width="510" colspan="3" align="left" class="borde_tabla" valign="top">
		 <textarea name="extension" cols="80" rows="2" class="input" id="extension">{$extension}</textarea>
		 </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="110" nowrap align="right" class="borde_tabla" valign="top">Domicilio :&nbsp;</td>
        <td width="510" colspan="3" align="left" class="borde_tabla" valign="top">
		 <textarea name="extension" cols="80" rows="2" class="input" id="extension">{$extension}</textarea>
		 </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="110" nowrap align="right" class="borde_tabla" valign="top">Nro de asociados :&nbsp;</td>
        <td width="510" colspan="3" align="left" class="borde_tabla" valign="top">
		 <textarea name="extension" cols="80" rows="2" class="input" id="extension">{$extension}</textarea>
		 </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="110" nowrap align="right" class="borde_tabla" valign="top">N.I.T. :&nbsp;</td>
        <td width="510" colspan="3" align="left" class="borde_tabla" valign="top">
		 <textarea name="extension" cols="80" rows="2" class="input" id="extension">{$extension}</textarea>
		 </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_color">
		<td width="620" colspan="4" valign="middle" height="30" class="borde_lista"><div align="left"> 
            &nbsp;* Documentos<a name="acc2"></a> </div>
		</td>
	  </tr>
      <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="110" nowrap align="right" class="borde_tabla" valign="top">Escritura de Constituci&oacute;n :&nbsp;</td>
        <td width="510" colspan="3" align="left" class="borde_tabla" valign="top">
		 <textarea name="ubicacion" cols="80" rows="2" class="input" id="ubicacion">{$ubicacion}</textarea>
		 </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>

	  <tr class="tabla_titulo_contenido"> 
        <td width="110" nowrap align="right" class="borde_tabla" valign="top">Acta de constituci&oacute;n :&nbsp;</td>
        <td width="510" colspan="3" align="left" class="borde_tabla" valign="top">
		 <textarea name="datos_documento" cols="80" rows="2" class="input">{$datos_documento}</textarea>
		 </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	   <tr class="tabla_titulo_contenido"> 
        <td width="110" nowrap align="right" class="borde_tabla" valign="top">Resoluci&oacute;n Prefectural :&nbsp;</td>
        <td width="510" colspan="3" align="left" class="borde_tabla" valign="top">
		 <textarea name="registro_dr" cols="80" rows="2" class="input" id="registro_dr">{$registro_dr}</textarea>
		 </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="110" nowrap align="right" class="borde_tabla" valign="top">Resoluci&oacute;n Municipal :&nbsp;</td>
        <td width="510" colspan="3" align="left" class="borde_tabla" valign="top">
		 <textarea name="registro_dr" cols="80" rows="2" class="input" id="registro_dr">{$registro_dr}</textarea>
		 </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="110" nowrap align="right" class="borde_tabla" valign="top">Resoluci&oacute;n Sub Prefectural :&nbsp;</td>
        <td width="510" colspan="3" align="left" class="borde_tabla" valign="top">
		 <textarea name="registro_dr" cols="80" rows="2" class="input" id="registro_dr">{$registro_dr}</textarea>
		 </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="110" nowrap align="right" class="borde_tabla" valign="top">Publicaci&oacute;n en la Gaceta :&nbsp;</td>
        <td width="510" colspan="3" align="left" class="borde_tabla" valign="top">
		 <textarea name="registro_dr" cols="80" rows="2" class="input" id="registro_dr">{$registro_dr}</textarea>
		 </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_color">
		<td width="620" colspan="4" valign="middle" height="30" class="borde_lista"><div align="left"> 
            &nbsp;* Representantes Legales<a name="acc2"></a> </div>
		</td>
	  </tr>
      <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="110" nowrap align="right" class="borde_tabla">Cargo :&nbsp;</td>
        <td width="200" align="left" class="borde_tabla">
		 <input name="superficie_titulo" type="text" class="input" id="superficie_titulo" value="{$superficie_titulo}" size="30" maxlength="20">
		</td>
		<td width="110" nowrap align="right" class="borde_tabla">Duraci&oacute;n de funciones :&nbsp;</td>
        <td width="200" align="left" class="borde_tabla">
		 <input name="superficie_plano" type="text" class="input" id="superficie_plano" value="{$superficie_plano}" size="30" maxlength="20">
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" height="17" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_color">
		<td width="620" colspan="4" valign="middle" height="30" class="borde_lista"><div align="left"> 
            &nbsp;* Autorizaciones, Poderes y Facultades<a name="acc2"></a> </div>
		</td>
	  </tr>
      <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	 <tr class="tabla_titulo_contenido"> 
        <td width="110" nowrap align="right" class="borde_tabla">Acta asamblea autorizaci&oacute;n pr&eacute;stamo :&nbsp;</td>
        <td width="200" align="left" class="borde_tabla">
		 <input name="limite_norte" type="text" class="input" id="limite_norte" value="{$limite_norte}" size="30" maxlength="150">
		</td>
		<td width="110" nowrap align="right" class="borde_tabla">Testimonio de poder :&nbsp;</td>
        <td width="200" align="left" class="borde_tabla">
		 <input name="limite_sud" type="text" class="input" id="limite_sud" value="{$limite_sud}" size="30" maxlength="150">
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
	  
	  
	   <tr class="tabla_titulo_contenido"> 
        <td width="110" nowrap align="right" class="borde_tabla">Facultades :&nbsp;</td>
        <td width="200" align="left" class="borde_tabla">
		 <input name="limite_este" type="text" class="input" id="limite_este" value="{$limite_este}" size="30" maxlength="150">
		</td>
		<td width="110" nowrap align="right" class="borde_tabla"> :&nbsp;</td>
        <td width="200" align="left" class="borde_tabla">
		 <input name="limite_oeste" type="text" class="input" id="limite_oeste" value="{$limite_oeste}" size="30" maxlength="150">
		</td>
      </tr>
</table>