

<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/tipos_documentos.js">
</SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>
<link href="../../archivo/php.css" rel="stylesheet" type="text/css">
<style type=text/css>
</style>
<link href="../../../archivo/php.css" rel="stylesheet" type="text/css">
</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" onLoad="cargar_modificar()" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>

<div align="center">
<br>
<form name="modificar" method="post" action="../code/_main.php?action=adm/sociedades.php" >
<table width="620" border="1" cellpadding="0" cellspacing="0" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td class="borde_lista" width="620" colspan="4" valign="middle" height="30"><div align="center"> 
            Modificaci&oacute;n de sociedad</div>
		</td>
	</tr>

	  
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>

      <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="100" nowrap align="right">Sociedad :&nbsp;</td>
        <td class="borde_tabla" width="520" colspan="3" align="left">
		 <input name="sociedad" type="text" class="input" value="{$sociedad}" size="82" maxlength="250">
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>
	  
    </table>

	<table width="620" border="0" class="color_contenido">
      <tr class="tabla"> 
        <td  width="620" colspan="2">&nbsp; </td>
      </tr>
      <tr class="tabla"> 
        <td  width="310" nowrap><div align="right">
            <input type="submit" name="modificar_boton" value="Guardar" class="boton">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="hidden" name="id" value="{$id}">
          </div></td>
		  
</form>		
<form name="modificar_cancelar" method="post" action="../code/_main.php?action=adm/sociedades.php">
        <td  width="310"><div align="left">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="modificar_boton_cancelar" value="Cancelar" class="boton"> </div>
		</td>
</form>		
      </tr>
    </table>

</div>
</body>
</html>
