<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/extension.js">
</SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>

</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>
<div align="center">
<br>
<table width="620" cellpadding="0" cellspacing="0" border="1" align="center" class="borde_lista">

	<tr class="tabla_titulo_color">
		<td  colspan="6" height="20" valign="middle" class="borde_lista">
			&nbsp;Emisiones</td>
	</tr>
	{section name=lista loop=$extension}
	<tr class="tabla_titulo_contenido">
		<td class="borde_lista" width="540">
			&nbsp;&nbsp;{$extension[lista.index].descripcion}
		</td>

		<td class="borde_lista" width="40"><div align="center">
			<a href="../code/_main.php?action=sec/extension.php&modificar=acc&id={$extension[lista.index].codigo}" onMouseOver=" overlib('Modificación de la descripcion',CAPTION,'Modificar' ); return true" onMouseOut=" nd(); return true"> 
				<img src="../imagenes/pass/modificar.jpg" border="0">
			</a>
		</div></td>
		<td class="borde_lista" width="40"><div align="center">
			<a href="../code/_main.php?action=sec/extension.php&eliminar=acc&id={$extension[lista.index].codigo}" onMouseOver=" overlib('Eliminación de la descripcion',CAPTION,'Eliminar' ); return true" onMouseOut=" nd(); return true"> 
				<img src="../imagenes/pass/eliminar.jpg" border="0">
			</a>
		</div></td>
		
	</tr>
	{/section}
</table>
<br />
<form name="adicion" method="post" action="../code/_main.php?action=sec/extension.php">
<table width="620" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td  width="620"><div align="center">
			<input type="submit" name="adicionar" value="Adicionar" class="boton">
		</div></td>
	</tr>
</table>
</form>
<br>
</div>
</body>
</html>
