

<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/autoriza_reportes.js">
</SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>


</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>

<div align="center">
	<table width="620" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
		<td width="420" valign="bottom" height="20">
		</td>
		<td width="200" valign="bottom" height="20">
			<div align="right">
			<font class="tabla_titulo_contenido">
			<a href="{$carpeta_entrar}" class="link_tabla">
				Volver a lista de Reportes
			</a>
			</font>
			</div>
		</td>
		</tr>
	</table>
<form name="formulario" method="post" action="{$carpeta_entrar}">
<table width="620" border="1" cellpadding="0" cellspacing="0" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td width="620" colspan="4" valign="middle" height="30" class="borde_lista"><div align="center"> 
            Impresi&oacute;n de Inventario Detallado de Carpetas por C&oacute;digo CI</div>
		</td>
	</tr>
	
      <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  
	  
	  
	  <tr class="tabla_titulo_contenido" valign="top"> 
        <td width="150" nowrap align="right" valign="top" class="borde_tabla">Gaveta 
          :&nbsp;</td>
        <td width="470" colspan="3" align="left" class="borde_tabla">
		 <select name="gaveta" class="input">
		 	<option value="todos">Todos</option>
			{section name=lista loop=$ids_gaveta}
				<option value="{$ids_gaveta[lista.index]}">{$gaveta[lista.index]}</option>
			{/section}
		 </select>
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  
	  <tr class="tabla_titulo_contenido" valign="top"> 
        <td width="150" nowrap align="right" valign="top" class="borde_tabla">Posici&oacute;n 
          Gaveta :&nbsp;</td>
        <td width="470" colspan="3" align="left" class="borde_tabla">
		 <select name="posicion_gaveta" class="input">
		 	<option value="todos">Todos</option>
			{section name=lista loop=$ids_gaveta}
				<option value="{$ids_gaveta[lista.index]}">{$gaveta[lista.index]}</option>
			{/section}
		 </select>
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  
	  <tr class="tabla_titulo_contenido" valign="top"> 
        <td width="150" nowrap align="right" valign="top" class="borde_tabla">Tipo de Carpeta 
          :&nbsp;</td>
        <td width="470" colspan="3" align="left" class="borde_tabla">
		 <select name="tipo" class="input">
		 	<option value="todos">Todos</option>
			{section name=lista loop=$ids_tipo}
				<option value="{$ids_tipo[lista.index]}">{$tipo[lista.index]}</option>
			{/section}
		 </select>
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  
	  <tr class="tabla_titulo_contenido" valign="top"> 
        <td width="150" nowrap align="right" valign="top" class="borde_tabla">Agencia 
          :&nbsp;</td>
        <td width="470" colspan="3" align="left" class="borde_tabla">
		 <select name="oficina" class="input">
		 	<option value="todos">Todos</option>
			{section name=lista loop=$ids_oficina}
				<option value="{$ids_oficina[lista.index]}">{$oficina[lista.index]}</option>
			{/section}
		 </select>
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	 
    </table>

	<table width="620" border="0" class="color_contenido">
      <tr class="tabla"> 
        <td width="620" colspan="2">&nbsp; </td>
      </tr>
      <tr class="tabla"> 
        <td width="310" nowrap><div align="right">
            <input type="submit" name="boton_inv_detallado_mis" value="Preparar Impresion" class="boton">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="hidden" name="carpeta_entrar" value="{$carpeta_acc}">
          </div></td>
		  
</form>		
<form name="formulario_cancelar" method="post" action="{$carpeta_entrar}">
        <td width="310"><div align="left">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="prestar_boton_cancelar" value="Cancelar" class="boton"> 
		<input type="hidden" name="carpeta_entrar" value="{$carpeta_acc}">
		</div>
		</td>
</form>		
      </tr>
    </table>

</div>

</body>
</html>
