

<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/autoriza_reportes.js">
</SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>


</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>

<div align="center">
	<table width="620" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
		<td width="200" valign="bottom" height="20">
		</td>
		<td width="420" valign="bottom" height="20">
			<div align="right"> <font class="tabla_titulo_contenido"> 
			<a href="{$carpeta_entrar}&inv_detallado_mis=acc" class="link_tabla"> 
          Volver a Detalles de Impresi&oacute;n </a> </font> </div>
		</td>
		</tr>
	</table>
<form name="formulario" method="post" action="../rpt/inicio.asp" target="_blank">
<table width="620" border="1" cellpadding="0" cellspacing="0" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td width="620" colspan="4" valign="middle" height="30" class="borde_lista"><div align="center"> 
            Imprimir Inventario Detallado de Carpetas por C&oacute;digo CI</div>
		</td>
	</tr>
	
      <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  
	  
	  
	  <tr class="tabla_titulo_contenido" valign="top"> 
        <td width="620" colspan="4" nowrap align="center" valign="top" class="borde_tabla">
			<input type="submit" name="imprimir" class="boton" value="Imprimir">&nbsp;
			<input type="hidden" name="fileName" value="auto_inv_detallado_mis.rpt">
			<input type="hidden" name="usrdb" value="{$usuario}">
			<input type="hidden" name="pssdb" value="{$password}">
			<input type="hidden" name="dbname" value="{$bd}">
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  
	  
	 
    </table>
</form>
	

</div>

</body>
</html>
