<html>
<head>
<title>Administracion de Sistemas</title>

<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/comun.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/excepcion_sol.js"></SCRIPT>
</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>

<div align="center">
<br>
<form name="adicionar" method="post" action="{$carpeta_entrar}" onsubmit="return vecorreo(this)">
<table width="620" border="1" cellpadding="0" cellspacing="0" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td width="620" colspan="4" valign="middle" height="26" class="borde_lista"> 
          <div align="center">Datos del Cliente</div>
		</td>
	</tr>
	
      <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>	  
	  <tr class="tabla_titulo_contenido"> 
        <td width="100" nowrap align="right" class="borde_tabla">Cliente :&nbsp;</td>
        <td width="210" align="left" class="borde_tabla">
		 <b>{$cliente}</b> 
		</td>
		<td width="310" nowrap align="right" colspan="2" class="borde_tabla">Informe Legal No {$id}&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="100" nowrap align="right" class="borde_tabla" valign="middle">Documento :&nbsp;</td>
         <td width="520" colspan="3" align="left" class="borde_tabla">
		 <b>{$ci_cliente} {$identificacion}</b>
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="100" nowrap align="right" class="borde_tabla">Garant&iacute;a :&nbsp;</td>
        <td width="520" colspan="3" align="left" class="borde_tabla">
		 <b>{$tipo_bien}</b>
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  <tr class="tabla_titulo_color">
		<td width="620" colspan="4" valign="middle" height="30" class="borde_lista"><div align="center"> 
            Enviar Solicitud por Correo Electr&oacute;nico</div>
		</td>
	</tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>	
    <!-- tr class="tabla_titulo_contenido"> 
        <td width="100" nowrap align="right" class="borde_tabla">Destinatario :&nbsp;</td>
        <td width="520" align="left" class="borde_tabla" colspan='3'>
		<select name="id_usuario" class="input">
		<option value='0'>(No notificar por correo)</option>
		{section name='lista' loop=$usuarios}
		<option value='{$usuarios[lista.index].id}'>{$usuarios[lista.index].nombre}</option>
		{/section}
		</select>
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr -->
	  <tr class="tabla_titulo_contenido"> 
        <td width="100" nowrap align="right" class="borde_tabla">Correo-e :&nbsp;</td>
        <td width="520" align="left" class="borde_tabla" colspan='3'>
		<input type="text" name="correoe" id="correoe" value="" size="45" class="input">
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>

    </table>

	<table width="620" border="0" class="color_contenido">
      <tr class="tabla"> 
        <td width="620" colspan="2">&nbsp; </td>
      </tr>
      <tr class="tabla"> 
        <td width="310" nowrap><div align="right">
            <input type="submit" name="solicitando_boton" value="Solicitar" class="boton">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="hidden" name="id" value="{$id}">
			</div></td>
		   <td width="310"><div align="left">
		<input type="submit" name="boton_cancelar" value="Cancelar" class="boton" >
		</div>
		</td>
      </tr>
    </table>

</form>
<form name="firma_cancelar" method="post" action="{$carpeta_entrar}&filtro=1">
	<input type="hidden" name="adicionar_boton_cancelar" value="s"> 
	
</form>
</div>

</body>
</html>
