

<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/variablesec.js">
</SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>
<link href="../../archivo/php.css" rel="stylesheet" type="text/css">
<style type=text/css>
</style>
<link href="../../../archivo/php.css" rel="stylesheet" type="text/css">
</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" onLoad="cargar_modificar()" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>

<div align="center">
<br>
<form name="modificar" method="post" action="../code/_main.php?action=adm/variablesec.php" >
<table width="620" border="1" cellpadding="0" cellspacing="0" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td class="borde_lista" width="620" colspan="4" valign="middle" height="30"><div align="center"> 
            Adici&oacute;n de Variables SEC</div>
		</td>
	</tr>
	
      <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>
    

      <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="100" nowrap align="right">Variable SEC :&nbsp;</td>
        <td class="borde_tabla" width="520" colspan="3" align="left">
		 <input name="idtexto" type="text" class="input" value="{$idtexto}" size="50" maxlength="100">
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="100" nowrap align="right">Tabla Guardian :&nbsp;</td>
        <td class="borde_tabla" width="520" colspan="3" align="left">
		 <input name="tabla" type="text" class="input" value="{$tabla}" size="80" maxlength="100">
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="100" nowrap align="right">Campo :&nbsp;</td>
        <td class="borde_tabla" width="520" colspan="3" align="left">
		 <input name="campo" type="text" class="input" value="{$campo}" size="80" maxlength="100">
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr><tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="100" nowrap align="right">Adicional :&nbsp;</td>
        <td class="borde_tabla" width="520" colspan="3" align="left">
		 <input name="adicional" type="text" class="input" value="{$adicional}" size="80" maxlength="100">
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="100" nowrap align="right">Tipo Garant&iacute;a :&nbsp;</td>
        <td class="borde_tabla" width="520" colspan="3" align="left">
		 <select name="bien" class="input">
				<option value='0'>No aplica</option>
				<option value='1'>Inmueble</option>
				<option value='3'>Veh&iacute;culo</option>
				<option value='2'>Maquinaria</option>
				<option value='6'>Semovientes</option>
				<option value='5'>Personer&iacute;a Jur&iacute;dica</option>
				<option value='4'>Ninguno (Sin. I.L.)</option>
			</select> (Solo si corresponde)
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>
    </table>

	<table width="620" border="0" class="color_contenido">
      <tr class="tabla"> 
        <td  width="620" colspan="2">&nbsp; </td>
      </tr>
      <tr class="tabla"> 
        <td  width="310" nowrap><div align="right">
            <input type="submit" name="modificar_boton" value="Guardar" class="boton">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="hidden" name="id" value="{$id}">
          </div></td>
		  
</form>		
<form name="modificar_cancelar" method="post" action="../code/_main.php?action=adm/variablesec.php">
        <td  width="310"><div align="left">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="modificar_boton_cancelar" value="Cancelar" class="boton"> </div>
		</td>
</form>		
      </tr>
    </table>

</div>
</body>
</html>
