<html>
<head>
<title>Administracion de Sistemas</title>
<script type="text/javascript" language="javascript" src="../scripts/XHConn.js"></script>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/usuarios.js">
</SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>

</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll}"   
 onLoad="cargar_adicionar()" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>

<div align="center">
<br>
<form name="adicionar" method="post" action="../code/_main.php?action=adm/usuarios.php" onSubmit="return verificar_adicion({$long_login})">
<table width="620" border="1" cellpadding="0" cellspacing="0" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td class="borde_lista" width="620" colspan="2" valign="middle" height="30"><div align="center"> 
            Adici&oacute;n de Usuarios</div>
		</td>
	</tr>
	
      <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="2">{$alerta}&nbsp; </td>
      </tr>
      <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="160" nowrap align="right">*Nombres :&nbsp;</td>
        <td class="borde_tabla" width="460" align="left">
		 <input name="nombres" type="text" class="input" value="{$nombres}" size="60" maxlength="70">
		</td>
      </tr>

	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="160" nowrap align="right">C.I. :&nbsp;</td>
        <td class="borde_tabla" width="460" align="left">
		 <input name="ci" type="text" class="input" value="" size="25" maxlength="25">
		</td>
      </tr>

	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="160" nowrap align="right">Tel&eacute;fonos :&nbsp;</td>
        <td class="borde_tabla" width="460" align="left">
		 <input name="telefono" type="text" class="input" value="" size="60" maxlength="70">
		</td>
      </tr>

	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="160" nowrap align="right" valign="top">Direcci&oacute;n :&nbsp;</td>
        <td class="borde_tabla" width="460" align="left">
		 	<input name="direccion" type="text" class="input" value="" size="60" maxlength="70">
		</td>
      </tr>

	  <tr class="tabla_titulo_contenido">
        <td class="borde_tabla" width="160" nowrap align="right" valign="top">E-Mail :&nbsp;</td>
        <td class="borde_tabla" width="460" align="left">
		 	<input name="correoe" type="text" class="input" value="{$correoe}" size="60" maxlength="70">
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="160" align="right">Oficina :&nbsp;</td>
        <td class="borde_tabla" width="460"  align="left">
			<select name="oficina" class="input">
			{section name=lista loop=$oficinas }
				<option value="{$oficinas[lista.index].id_oficina}">{$oficinas[lista.index].nombre}</option>
			{/section}
			</select>
		</td>
		</tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="2">&nbsp; </td>
      </tr>
      <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="160" nowrap align="right">*Perfil :&nbsp;</td>
        <td class="borde_tabla" width="210" align="left">
		 	<select name="perfil" class="input">
				<option value="ninguno" selected>--------</option>
				{section name=lista loop=$perfiles}
					<option value="{$perfiles[lista.index].id_perfil}">{$perfiles[lista.index].perfil}</option>
				{/section}
			</select>
		</td>
      </tr>	  
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="2">&nbsp; </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="160" nowrap align="right">*Login :&nbsp;</td>
        <td class="borde_tabla" width="460" align="left">
		 <input name="login" type="text" id="login" class="input" value="" size="20" maxlength="20">
		 <input name="antes" type="hidden" id="antes" value=""> 
		</td>
      </tr>

	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="160" nowrap align="right">*Password :&nbsp;</td>
        <td class="borde_tabla" width="460" align="left">
		 <input name="pasword" type="password" class="input" value="" size="20" maxlength="20">
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="160" nowrap align="right">*Repita Password :&nbsp;</td>
        <td class="borde_tabla" width="460" align="left">
		 <input name="pasword2" type="password" class="input" value="" size="25" maxlength="25">
		</td>
      </tr>

		<tr class="tabla_titulo_contenido"> 
		<td class="borde_tabla" width="160" align="right">&nbsp;</td>
        <td class="borde_tabla" width="460"  align="left">
			<input name="chkpass" type="checkbox"> Forzar cambio de contrase&ntilde;a en el siguiente inicio de sesi&oacute;n
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="2">&nbsp; </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
		<td class="borde_tabla" width="160" align="right">Habilitado :&nbsp;</td>
        <td class="borde_tabla" width="460"  align="left">
			<select name="activo" class="input">
				<option value="S">SI</option>
				<option value="N">NO</option>
			</select>
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="2">&nbsp; </td>
      </tr>
	   
    </table>

	<table width="620" border="0" class="color_contenido">
      <tr class="tabla"> 
        <td  width="620" colspan="2">&nbsp; </td>
      </tr>
      <tr class="tabla"> 
        <td  width="310" nowrap><div align="right">
            <input type="submit" name="adicionar_boton" value="Adicionar" class="boton">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			
          </div></td>
		  
</form>		
<form name="adicionar_cancelar" method="post" action="../code/_main.php?action=adm/usuarios.php">
        <td  width="310"><div align="left">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="adicionar_boton_cancelar" value="Cancelar" class="boton"> </div>
		</td>
</form>		
      </tr>
    </table>

</div>

</body>
</html>
