<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/usuariosec.js">
</SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>

</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>
<div align="center">
<br>
<table width="620" cellpadding="0" cellspacing="0" border="1" align="center" class="borde_lista">
	{assign var="grp" value="x"}
	{section name=lista loop=$usuariosec}
	{if $grp!=$usuariosec[lista.index].localizacion}
	<tr class="tabla_titulo_color">
		<td class="borde_lista" width="620" colspan="5" height="20" valign="middle">&nbsp;* {$usuariosec[lista.index].localizacion}</td>
	</tr>{assign var="grp" value=$usuariosec[lista.index].localizacion}
	{/if}
	<tr class="tabla_titulo_contenido">
		<td class="borde_lista" width="320">
			&nbsp;&nbsp;{$usuariosec[lista.index].nombre}
		</td>
		<td class="borde_lista" width="200">
			&nbsp;&nbsp;{$usuariosec[lista.index].login}
		</td>

		<td class="borde_lista" width="100"><div align="center">
			<a href="../code/_main.php?action=sec/usuariosec.php&contrato=acc&id={$usuariosec[lista.index].login}" onMouseOver=" overlib('Contratos asignados',CAPTION,'Modificar' ); return true" onMouseOut=" nd(); return true"> 
				<img src="../images/actions/script.png" border="0"></a>&nbsp;
			<a href="../code/_main.php?action=sec/usuariosec.php&modificar=acc&id={$usuariosec[lista.index].login}" onMouseOver=" overlib('Datos del usuario',CAPTION,'Modificar' ); return true" onMouseOut=" nd(); return true"> 
				<img src="../imagenes/pass/modificar.png" border="0"></a>&nbsp;
			<!-- a href="../code/_main.php?action=sec/usuariosec.php&eliminar=acc&id={$usuariosec[lista.index].login}" onMouseOver=" overlib('Dar de baja',CAPTION,'Eliminar' ); return true" onMouseOut=" nd(); return true"> 
				<img src="../imagenes/pass/eliminar.png" border="0"></a -->
		</div></td>
		
	</tr>
	{/section}
</table>
<br />
<form name="adicion" method="post" action="../code/_main.php?action=sec/usuariosec.php">
<table width="620" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td  width="620"><div align="center">
			<input type="submit" name="adicionar" value="Adicionar" class="boton">
		</div></td>
	</tr>
</table>
</form>
<br>
</div>
</body>
</html>
