<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<link href="../styles/leftframe.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="Lcontainer">

{section name=lista loop=$menuOption}
	{if $menuOption[lista].nivel == '2'}
		<div class="espacio"></div>
		<div class="boxhead">
			<img src="../images/menu/{$menuOption[lista].imagen}" border="0" align="middle" />&nbsp;&nbsp;{$menuOption[lista].descri}
		</div>
	{else}
		<div class="boxbody">
		<img src="../images/menu/{$menuOption[lista].imagen}" width="16" height="16" border="0" align="middle"/>&nbsp;<a href="../code/_main.php?action={$menuOption[lista].comando}" target="mainFrame">{$menuOption[lista].descri}</a>
		</div>
	{/if}
{sectionelse}
<br><br>
<div class="pequena" align="center"><a href="../index.html">LOGOUT</a></div>
{/section}


</div>
</body>
</html>
