<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<link href="../styles/topframe.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="container">
   <div id="ImgFrame">
 <img src="../images/logo/logo3.jpg"  />
   </div>
   <div id="Frame">
    <div id="UsrFrame">
[Usuario: {$usuario} / {$perfil}] <a href="../index.html">LOGOUT</a>&nbsp;
    </div>
    <div id="MnuFrame">
	
	<!--- <img src="../images/toolbar/{$toolbar[lista].imagen}" border="0" width="32" height="32" />   -->
		
	{section name=lista loop=$toolbar}
	  	<img src="../images/toolbar/{$toolbar[lista].imagen}" border="0" /> <a href="../code/_menu.php?grupoMnu={$toolbar[lista].codigo}"  target="leftFrame">{$toolbar[lista].descri}</a>
	{/section}	
      	
		
    </div>
   </div>
</div>
</body>
</html>
