<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<link href="../styles/mainframe.css" rel="stylesheet" type="text/css" />
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>
</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" class="color_contenido">
<div class="espacioTop"></div>
<div id="wrap">
<div class="barratitulo">Mantenimiento de Perfiles</div>
<div class="espacioTop"></div>
<!--- TABLA PARA LOS FILTROS --->
{include file="../templates/filtros.html"}

<!---  TABLA PARA EL LISTADO  --->
<table width="350" border="0" align="center" cellpadding="2" cellspacing="0">
 <tr>
	<th width="200">&nbsp;&nbsp;Perfil</td>
	<th width="50" align="center">Activo</td>
	<th width="100">&nbsp;</td>
  </tr>
  {section name=lista loop=$perfiles}
  <tr {if $smarty.section.lista.index is even}class="filaImp"{else}class="filaPar"{/if}>
	<td width="200" >&nbsp;&nbsp;{$perfiles[lista].nombre}</td>
	<td width="50" align="center"><img src="../images/actions/{if $perfiles[lista].activo=='S'}tick.png{else}cross.png{/if}" border="0" /></td>
	<td width="100" ><img src="../images/actions/separador.png" border="0" />&nbsp;
	<a title="Definir Restricciones" href="../code/admpermisoABM.php?task=mod&id={$perfiles[lista].idperfil}&pagina={$pagina}">
	<img src="../images/actions/table_key.png" border="0" /></a>&nbsp;
	<a title="Modificar Datos" href="../code/admperfilABM.php?task=mod&id={$perfiles[lista].idperfil}&pagina={$pagina}">
	<img src="../images/actions/edit.png" border="0" /></a>&nbsp;
	<a title="Eliminar Registro" href="../code/admperfilABM.php?task=del&id={$perfiles[lista].idperfil}&pagina={$pagina}">
	<img src="../images/actions/delete.png" border="0" /></a></td>
  </tr>
  {sectionelse}
   <tr>
    <td colspan="3"><div class="filaPar">&nbsp;No existen registros para mostrar!</div></td>
  </tr>
  {/section}
 </table>
 <div class="espacioMid"></div>
 <div class="barraNavega">
  	<div class="barraNavegaL">{include file="../templates/paginacion.html"}</div>
	<div class="barraNavegaR">
    <a title="Adicionar Nuevo Registro" href="../code/admperfilABM.php?task=add&pagina={$pagina}">
	<img src="../images/actions/add.png" border="0" align="middle"/>&nbsp;Adicionar&nbsp;</a>&nbsp;&nbsp;&nbsp;
	<a title="Imprimir Listado" href="../code/admperfilABM.php?task=print">
	<img src="../images/actions/printer.png" border="0" align="middle" />&nbsp;Imprimir&nbsp;</a>
	</div>
 </div>
<div class="espacioTop"></div>
</div>
</body>
</html>
