<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/autoriza_mensajes.js">
</SCRIPT>
<link href="../styles/php.css" rel="stylesheet" type="text/css">
</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>
<div align="center">
<br>
<form name="formulario" action="_main.php?action=ampliar_plazo_aut.php" method="post" >
<table width="620" cellpadding="0" cellspacing="0" border="1" align="center" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td width="620" height="20" valign="middle" class="borde_lista" colspan="5">
			Solicitudes para Ampliar plazo de devoluci&oacute;n de Carpetas
		</td>
	</tr>
	<tr class="tabla_titulo_color">
      <td width="80" height="20" valign="middle" class="borde_lista">&nbsp;Fecha</td>
	  <td width="80" height="20" valign="middle" class="borde_lista">&nbsp;Nueva</td>
	  <td width="200" height="20" valign="middle" class="borde_lista">&nbsp;Solicitante</td>
	  <td width="240" height="20" valign="middle" class="borde_lista">&nbsp;Observaci&oacute;n</td>
	  <td width="20" height="20" valign="middle" class="borde_lista">
	  	<!-- input type="checkbox" class="input" name="marcar_todos" onClick="marcando_todos2(this)" -->
		<input type="hidden" name="cantidad" value="{$cantidad}">
	  </td>
	</tr>
	{section name=lista loop=$listado}

	<tr class="tabla_titulo_contenido">
      <td width="80" class="borde_lista" valign="top">&nbsp;{$listado[lista.index].fecha}</td>
	   <td width="80" class="borde_lista" valign="top">&nbsp;{$listado[lista.index].nueva}</td>
	  <td width="200" class="borde_lista" valign="top">{$listado[lista.index].nombre}</td>
	  <td width="240" class="borde_lista" valign="top">
			&nbsp;<b>{$listado[lista.index].cliente}</b><br>
			&nbsp;{$listado[lista.index].carpeta}
	  </td>
		<td width="20" class="borde_lista" align="center">
			<input type="checkbox" class="input" name="marcado_{$smarty.section.lista.index}" value="{$listado[lista.index].id}"> 
		</td>
	</tr>
	{/section}
</table>
<br>
<table width="620" cellpadding="0" cellspacing="0" align="center">
<tr>
	<td width="620" height="20" valign="middle" align="right">
		<input type="submit" name="aceptar_prorroga" class="boton" value="Aceptar Marcados">&nbsp;&nbsp;
		<input type="submit" name="rechaza_prorroga" class="boton" value="Rechazar Marcados">
		<input type="hidden" name="mandar_todos_x" value="acc">
	</td>
</tr>
</table>
<br>
</form>

</div>
</body>
</html>
