<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/nrocaso_aprob.js">
</SCRIPT>

<link href="../styles/php.css" rel="stylesheet" type="text/css">

</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>
<div align="center">
<form name="buscarrec" method="post" action="{$carpeta_entrar}">
<table width="620" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr class="tabla_titulo_color">
      <td width="620" colspan="2" height="20" valign="middle" align="center"> &nbsp;Opciones 
        de B&uacute;squeda</td>
	</tr>
      <tr class="tabla_titulo_contenido"> 
        <td width="100" nowrap align="right" height="25" valign="middle">Instancia :&nbsp;</td>
        <td width="520" align="left" valign="middle">
		<input type="text" name="fil_nrocaso" value="{$fil_nrocaso}" size="12" class="input">
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="100" nowrap align="right" height="25" valign="middle">Cliente :&nbsp;</td>
        <td width="520" align="left" valign="middle">
		<input type="text" name="fil_cliente" value="{$fil_cliente}" size="40" class="input">
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="100" nowrap align="right" height="25" valign="middle">&nbsp;</td>
		<td width="620" colspan="2" align="left" valign="middle">
		 <input type="submit" name="buscar_boton" value=" Buscar " class="boton">&nbsp;
		 <input type="hidden" name="carpeta_entrar" value="{$carpeta_acc}">
		</td>
      </tr>
</table>
</form>
<br>
{$alert}
<form name="listado" method="post" action="{$carpeta_entrar}">
<table width="620" cellpadding="0" cellspacing="0" border="1" align="center" class="borde_lista">
	<tr class="tabla_titulo_color">
      <td width="620" colspan="4" valign="middle" height="20" class="borde_lista">
       Contabiliza la devoluci&oacute;n al cliente o la adjudicaci&oacute;n del bi&eacute;n</td>
	</tr>
	<tr class="tabla_titulo_color">
	  <td width="100" height="20" valign="middle" class="borde_lista">&nbsp;{if $enable_ws == 'A'}Nro. Caso{else}Nro. Instancia{/if}</td>

      <td width="520" height="20" valign="middle" class="borde_lista" colspan="2">&nbsp;Cliente</td>

	</tr>
	{section name=lista loop=$nrocasos}
	<tr class="tabla_titulo_contenido">
		<td width="100" class="borde_lista">&nbsp;<strong>{$nrocasos[lista.index].nrocaso}</strong></td>

		<td width="480" class="borde_lista">&nbsp;{$nrocasos[lista.index].cliente}</td>

		<td width="40" class="borde_lista" align="center">
			<input type="checkbox" name="opcion[]" value="{$nrocasos[lista.index].nrocaso}">
		</td>
	</tr>
	{sectionelse}
	<tr class="tabla_titulo_contenido">
		<td width="620" class="borde_lista" colspan="4">&nbsp;(No existen casos pendientes)</td>
	</tr>
	{/section}
</table>
<br>{if $nrocasos}
<table width="620" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="620"><div align="center">
			{*<input type="submit" name="adjudicar_bien" value="ADJUDICACION DEL BIEN" class="boton">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *}&nbsp;
			<input type="submit" name="devolver_bien" value="DEVOLUCION DOCUMENTOS" class="boton">
			<input type="hidden" name="carpeta_entrar" value="{$carpeta_acc}">
		</div></td>
	</tr>
</table>{/if}
</form>
<br>

</div>
<br>
<br><br>
</body>
</html>
