<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/contratosrep.js"></SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>
</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" class="color_contenido" >

<div align="center">
<form name="buscar" method="post" action="{$carpeta_entrar}" onSubmit="return verfechas1()">
<table width="620" cellpadding="0" cellspacing="0" border="0" align="center" class="borde_lista">
	<tr class="tabla_titulo_color">
      <td width="620" colspan="2" height="20" valign="middle" align="center"> &nbsp;Opciones de Listado de Contratos</td>
	</tr>
      <!-- tr class="tabla_titulo_contenido"> 
        <td width="120" nowrap align="right" height="25" valign="middle">Mostrar :&nbsp;</td>
        <td width="500" align="left" valign="middle">
		<select name="filtro_firma" class="input">
		<option value='*' {if $filtro_firma=='*'}selected{/if}>Todos</option>
		<option value='0' {if $filtro_firma=='0'}selected{/if}>Sin firma</option>
		<option value='1' {if $filtro_firma=='1'}selected{/if}>Firmados</option>
		</select>
		</td>
      </tr -->
      <tr class="tabla_titulo_contenido">
        <td width="120" nowrap align="right" height="25" valign="middle">Del recinto :&nbsp;</td>
        <td width="500" align="left" valign="middle">
		 	<select name="filtro_alma" class="input">
			<option value='*'>Todos</option>
			{section name=lista loop=$almacens}
			<option value='{$almacens[lista.index].id}' {if $filtro_alma==$almacens[lista.index].id}selected{/if}>{$almacens[lista.index].titulo} </option>
			{/section}
			</select>
		</td>
      </tr>
	  
	  <!-- tr class="tabla_titulo_contenido">
        <td width="120" nowrap align="right" height="25" valign="middle">Oficina :&nbsp;</td>
        <td width="500" align="left" valign="middle">
		 	<select name="filtro_ofi" class="input">
			<option value='*' {if $filtro_ofi=='*'}selected{/if}>Todos</option>
			{section name=lista loop=$oficins}
			<option value='{$oficins[lista.index].id_almacen}' {if $filtro_ofi==$oficins[lista.index].id}selected{/if}>{$oficins[lista.index].titulo}</option>
			{/section}
			</select>
		</td>
      </tr -->
	  
      <tr class="tabla_titulo_contenido">
        <td width="120" nowrap align="right" height="25" valign="middle">De la fecha :&nbsp;</td>
        <td width="500" align="left" valign="middle">
		 <input name="filtro_fecha" type="text" class="input" id="filtro_fecha" value="{$filtro_fecha}" size="15" maxlength="10">&nbsp;&nbsp;A la Fecha :&nbsp;<input name="filtro_fech2" type="text" class="input" id="filtro_fech2" value="{$filtro_fech2}" size="15" maxlength="10">
		</td>
      </tr>
	  <!-- tr class="tabla_titulo_contenido">
        <td width="120" nowrap align="right" height="25" valign="middle">Banca :&nbsp;</td>
        <td width="500" align="left" valign="middle">
		 	<select name="filtro_ban" class="input">
			<option value='*' >Todos</option>
			{section name=lista loop=$bancas}
			<option value='{$bancas[lista.index].id}' {if $filtro_ban==$bancas[lista.index].id}selected{/if}>{$bancas[lista.index].banca}</option>
			{/section}
			</select>
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido">
        <td width="120" nowrap align="right" height="25" valign="middle">Agrupado por:&nbsp;</td>
        <td width="500" align="left" valign="middle">
		 	<select name="filtro_tip" class="input">
			<option value='1' {if $filtro_tip==1}selected{/if}>Asesor</option>
			<option value='2' {if $filtro_tip==2}selected{/if}>Oficina</option>
			<option value='3' {if $filtro_tip==3}selected{/if}>Banca</option>
			</select>
		</td>
      </tr -->
	  <tr class="tabla_titulo_contenido"> 
        <td width="120" nowrap align="right"  valign="middle">&nbsp;</td>
		<td width="500" align="left" height="30" valign="middle">
		 <input type="submit" name="listar_boton" value=" Listar " class="boton"><br><br>
		 <input type="hidden" name="carpeta_entrar" value="{$carpeta_acc}">
		</td>
      </tr>
</table>
</form>
{if $miscontratos}
<table width="620" cellpadding="0" cellspacing="0" border="1" align="center" class="borde_lista">
	<tr class="tabla_titulo_color">
      <td width="620" colspan="5" valign="middle" height="20" class="borde_lista">
       Reporte de Contratos</td>
	</tr>
	<tr class="tabla_titulo_color">
	  <td width="70" valign="middle" class="borde_lista">&nbsp;Nro. Cred.</td>
	  <td width="190" valign="middle" class="borde_lista">&nbsp;cliente</td>
	  <td width="70" valign="middle" class="borde_lista">&nbsp;CI</td>
	  <td width="200" valign="middle" class="borde_lista">&nbsp;Garantia</td>
      <td width="90"  valign="middle" class="borde_lista">&nbsp;Importe</td>
	</tr>{assign var="grupo" value="xz"} {assign var="cont" value=0}
	{section name=lista loop=$miscontratos}
	{if $miscontratos[lista.index].oficina!=$grupo}
	{if $grupo!='xz'}
	<tr class="tabla_titulo_contenido">
      <td width="620" colspan="5" valign="middle" height="20" class="borde_lista">
       Casos:<strong>{$cont}</strong></td>{assign var="cont" value=0 }
	</tr>
	{/if}
	<tr class="tabla_titulo_contenido">
      <td width="620" colspan="5" valign="middle" height="20" class="borde_lista">
       <strong>{$miscontratos[lista.index].oficina}</strong></td>{assign var="grupo" value=$miscontratos[lista.index].oficina }
	</tr>
	{/if} {assign var="cont" value=$cont+1 }
	<tr class="tabla_titulo_contenido">
		<td class="borde_lista">&nbsp;{$miscontratos[lista.index].nrocaso}</td>
		<td class="borde_lista">&nbsp;{$miscontratos[lista.index].cliente}</td>
		<td class="borde_lista">&nbsp;{$miscontratos[lista.index].ci}</td>
		<td class="borde_lista">&nbsp;{$miscontratos[lista.index].tipo}</td>
		<td class="borde_lista">&nbsp;{$miscontratos[lista.index].monto}</td>
	</tr>
	{sectionelse}
	<tr class="tabla_titulo_contenido">
		<td width="620" class="borde_lista" colspan="5">&nbsp;(No existen registros)</td>
	</tr>
	{/section}
</table>
{/if}
<br>
</div>
</body>
</html>
