<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/contratos.js"></SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>
</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" class="color_contenido" >
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>
<SCRIPT LANGUAGE='JavaScript' SRC='../../overlib/overlib.js'></SCRIPT>
<div align="center">


<form name="buscar" method="post" action="{$carpeta_entrar}" onSubmit="return verfechas1()">
<table width="620" cellpadding="0" cellspacing="0" border="0" align="center" class="borde_lista">
	<tr class="tabla_titulo_color">
      <td width="620" colspan="2" height="20" valign="middle" align="center"> &nbsp;Opciones de B&uacute;squeda en Contratos</td>
	</tr>
	  
      <tr class="tabla_titulo_contenido"> 
        <td width="120" nowrap align="right" height="25" valign="middle">Texto en el Doc. :&nbsp;</td>
        <td width="500" align="left" valign="middle">
		 	<input name="filtro_texto" type="text" class="input" id="filtro_texto" value="{$filtro_texto}" size="60" maxlength="100">
		</td>
      </tr>
	  
      <tr class="tabla_titulo_contenido"> 
        <td width="120" nowrap align="right" height="25" valign="middle">De la fecha :&nbsp;</td>
        <td width="500" align="left" valign="middle">
		 <input name="filtro_fecha" type="text" class="input" id="filtro_fecha" value="{$filtro_fecha}" size="15" maxlength="10">&nbsp;&nbsp;A la Fecha :&nbsp;<input name="filtro_fech2" type="text" class="input" id="filtro_fech2" value="{$filtro_fech2}" size="15" maxlength="10">
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="120" nowrap align="right" height="28" valign="middle">&nbsp;</td>
		<td width="500" align="left" valign="middle">
		 <input type="submit" name="buscar_boton" value=" Buscar " class="boton"><br><br>
		 <input type="hidden" name="carpeta_entrar" value="{$carpeta_acc}">
		</td>
      </tr>
</table>
</form>
{if $miscontratos}
<table width="620" cellpadding="0" cellspacing="0" border="1" align="center" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td width="110" class="borde_lista">
			&nbsp;Fecha Hora
		</td>
		<td width="360" class="borde_lista">
			&nbsp;Cliente / T&iacute;tulo Contrato
		</td>
		<td width="150" class="borde_lista">
			&nbsp;
		</td>
		
	</tr>
	{section name=lista loop=$miscontratos}
	<tr class="tabla_titulo_contenido">
		<td class="borde_lista">
			&nbsp;{$miscontratos[lista.index].fecha}&nbsp;{$miscontratos[lista.index].hora}
		</td>
		<td class="borde_lista">
			&nbsp;<strong>{$miscontratos[lista.index].parte}</strong>&nbsp;&nbsp;{if $miscontratos[lista.index].nrocaso != ''}[{$miscontratos[lista.index].nrocaso}]{/if}<br>
			&nbsp;{$miscontratos[lista.index].id}&nbsp;-&nbsp;{$miscontratos[lista.index].titulo}
		</td>
		<td class="borde_lista">&nbsp;
		
		<a href="contratos/vervarRTF.php?id={$miscontratos[lista.index].id}&td={$tipodoc}" onMouseOver=" overlib('Documento Parcial',CAPTION,'Ver Variables' );  return true"  onMouseOut=" nd();   return true" target="_blank"><img src="../images/actions/icon_lupa.png" border="0"></a>
	{if $miscontratos[lista.index].nulo != '1'}
		{if $word == 's'}
			{if $tipodoc == 'W' || $tipodoc == 'A'}
		<a href="contratos/abrirRTF.php?id={$miscontratos[lista.index].id}&td=W" onMouseOver=" overlib('Abrir en WORD',CAPTION,'Abrir' );  return true"  onMouseOut=" nd();   return true" target="_blank"><img src="../images/actions/page_word.png" border="0"></a>
			{/if}
			
			{if $tipodoc == 'O' || $tipodoc == 'A'}
		<a href="contratos/abrirRTF.php?id={$miscontratos[lista.index].id}&td=O" onMouseOver=" overlib('Abrir en OPEN OFFICE',CAPTION,'Abrir' );  return true"  onMouseOut=" nd();   return true" target="_blank"><img src="../images/actions/openoffice.png" border="0"></a>
			{/if}
		{/if}
		<a href="contratos/abrirPDF.php?id={$miscontratos[lista.index].id}" onMouseOver=" overlib('Abrir como PDF',CAPTION,'Ver' ); return true" onMouseOut=" nd(); return true" target="_blank"> 
				<img src="../imagenes/pass/pdf.png" border="0"></a>
	{else}
		<a href="{$carpeta_entrar}&id={$miscontratos[lista.index].id}&gendoc=v" onMouseOver=" overlib('Generar documento ahora',CAPTION,'Sin documento!' );  return true"  onMouseOut=" nd();   return true"><img src="../images/actions/exclamation.png" border="0"></a>
	{/if}<a href="{$carpeta_entrar}&id={$miscontratos[lista.index].id}&masopc=acc"  onMouseOver=" overlib('Ver opciones',CAPTION,'M&aacute;s...' ); return true" onMouseOut=" nd(); return true"><img src="../images/actions/eye.png" border="0"></a>&nbsp;
		<a href="{$carpeta_entrar}&eliminar=acc&id={$miscontratos[lista.index].id}" onMouseOver=" overlib('Eliminar contrato',CAPTION,'Eliminar' ); return true" onMouseOut=" nd(); return true"><img src="../imagenes/pass/eliminar.jpg" border="0"></a>&nbsp;
		
		
		</td>
	</tr>
	{sectionelse}
	<tr class="tabla_titulo_contenido">
		<td width="620" colspan="4" height="20" valign="middle" class="borde_lista">&nbsp;(Vacio, utilice la opci&oacute;n de b&uacute;squeda)</td>
	</tr>
	{/section}
</table>
{/if}
<br>
<br>
<br>
<br>
<br> <!-- estos BR son para corregir el problema de los ultims tooltips de la lista -->
</div>
</body>
</html>
