<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/archivo_propietarios.js">
</SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>


</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" onLoad="cargar_modificar()" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>

<div align="center">
<br>
<form name="modificar" method="post" action="../code/_main.php?action=modifica_persona.php" onSubmit="return verificar_adicion_mod()">
<table width="620" border="1" cellpadding="0" cellspacing="0" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td width="620" colspan="4" valign="middle" height="30" class="borde_lista"><div align="center"> 
            Modificaci&oacute;n de datos</div>
		</td>
	</tr>
	
      <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  
      <tr class="tabla_titulo_contenido"> 
        <td width="100" nowrap align="right" class="borde_tabla">Nombres :&nbsp;</td>
        <td width="210" align="left" class="borde_tabla" colspan="3">
		 <input name="nombres" type="text" class="input" value="{$nombres}" size="60" maxlength="150">
		</td>
       </tr>
	  
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
      <tr class="tabla_titulo_contenido"> 
        <td width="100" nowrap align="right" class="borde_tabla">C&oacute;digo (CI) :&nbsp;</td>
        <td width="210" align="left" class="borde_tabla">
		 <input name="mis" type="text" class="input" id="mis" value="{$mis}" size="20" maxlength="50">
		</td>
        <td width="100" nowrap align="right" class="borde_tabla">NIT :&nbsp;</td>
        <td width="210" align="left" class="borde_tabla">
		 <input name="nit" type="text" class="input" value="{$nit}" size="25" maxlength="30">
		</td>
      </tr>
	  
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	<tr class="tabla_titulo_contenido"> 
        <td width="100" nowrap align="right" class="borde_tabla">Estado Civil :&nbsp;</td>
        <td width="210" align="left" class="borde_tabla">
		 	<select name="estado_civil" id="estado_civil" class="input">
				<option value="S" {if $estado_civil=='S'}selected{/if}>Soltero(a)</option>
				<option value="C" {if $estado_civil=='C'}selected{/if}>Casado(a)</option>
				<option value="V" {if $estado_civil=='V'}selected{/if}>Viudo(a)</option>
				<option value="D" {if $estado_civil=='D'}selected{/if}>Divorciado(a)</option>
				<option value="O" {if $estado_civil=='O'}selected{/if}>Concuvinado(a)</option>
			</select>
		</td>
        <td width="100" nowrap align="right" class="borde_tabla">Tel&eacute;fonos  :&nbsp;</td>
        <td width="210" align="left" class="borde_tabla">
		  <input name="telefonos" type="text" class="input" value="{$telefonos}" size="25" maxlength="50">
		</td>
      </tr>
	  
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
      <tr class="tabla_titulo_contenido"> 
        <td width="100" nowrap align="right" class="borde_tabla">Direcci&oacute;n :&nbsp;</td>
        <td width="520" colspan="3" align="left" class="borde_tabla">
		 <input name="direccion" type="text" class="input" value="{$direccion}" size="82" maxlength="250">
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  
    </table>

	<table width="620" border="0" class="color_contenido">
      <tr class="tabla"> 
        <td width="620" colspan="2">&nbsp; </td>
      </tr>
      <tr class="tabla"> 
        <td width="310" nowrap><div align="right">
            <input type="submit" name="modificar_boton" value="Guardar" class="boton">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="hidden" name="modificar_boton_x" value="acc">
			<input type="hidden" name="existentes" value="{$existentes}">
			<input type="hidden" name="id" value="{$id}">
			<input type="hidden" name="xid_tipo_id" value="{$xid_tipo_id}">
			<input type="hidden" name="xci" value="{$xci}">
			<input type="hidden" name="xnombres" value="{$xnombres}">
			<input type="hidden" name="xmis" value="{$xmis}">
			<input type="hidden" name="xtelefonos" value="{$xtelefonos}">
			<input type="hidden" name="xdireccion" value="{$xdireccion}">
			<input type="hidden" name="xnit" value="{$xnit}">
			<input type="hidden" name="xestado_civil" value="{$xestado_civil}">
			<input type="hidden" name="carpeta_entrar" value="{$carpeta_acc}">
          </div></td>
		  
</form>		

        <td width="310"><div align="left">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="xx" value="Cancelar" class="boton" onclick="window.close()"> 
		<input type="hidden" name="carpeta_entrar" value="{$carpeta_acc}">
		</div>
		</td>
	
      </tr>
    </table>

</div>

</body>
</html>
