<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/archivo_mensajes.js">
</SCRIPT>

<link href="../styles/php.css" rel="stylesheet" type="text/css">

</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>
<div align="center">
<form name="buscar" method="post" action="../code/_main.php?action=pendiente_archivo.php">
<table width="620" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr class="tabla_titulo_color">
      <td width="620" colspan="2" height="20" valign="middle" align="center"> &nbsp;Opciones 
        de B&uacute;squeda</td>
	</tr>
      <tr class="tabla_titulo_contenido"> 
        <td width="100" nowrap align="right" height="25" valign="middle">Usuario 
          :&nbsp;</td>
        <td width="520" align="left" valign="middle">
			<select name="filtro_usuario" class="input">
				<option value="ninguno">------</option>
				<option value="*" {if $f_id_usuario == '*'}selected{/if}>(Todos)</option>
				{section name=lista loop=$f_usuario}
				<option value="{$f_usuario[lista.index].id}" {if $f_id_usuario == $f_usuario[lista.index].id}selected{/if}>{$f_usuario[lista.index].nombres}</option>
				{/section}
		 	</select>
		</td>        
      </tr>
	 {if $enable_catofi != 'S'} 
	  <tr class="tabla_titulo_contenido"> 
        
        <td width="100" nowrap align="right" height="25" valign="middle">Oficina 
          :&nbsp;</td>
        <td width="520" align="left" valign="middle">
			<select name="filtro_oficina" class="input">
				<option value="ninguno">------</option>
				<option value="*" {if $f_id_usuario == '*'}selected{/if}>(Todos)</option>
				{section name=lista loop=$f_oficina}
					<option value="{$f_oficina[lista.index].id}" {if $f_id_oficina == $f_oficina[lista.index].id}selected{/if}>{$f_oficina[lista.index].nombre}</option>
				{/section}
		 	</select>
		</td>
      </tr>
	  {else}
		 <input type="hidden" name="filtro_oficina" value="{$f_id_oficina}">
	  {/if}
	  <tr class="tabla_titulo_contenido"> 
        <td width="100" nowrap align="right"  valign="middle">&nbsp;</td>
		<td width="520"  align="left" valign="middle" height="30">
		 <input type="submit" name="buscar_boton" value=" Buscar " class="boton">&nbsp;
		 <input type="hidden" name="carpeta_entrar" value="{$carpeta_acc}">
		</td>
      </tr>
</table>
</form>
<br>{if $rec_lista}
<table width="620" cellpadding="0" cellspacing="0" border="1" align="center" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td  colspan="4" height="20" valign="middle" class="borde_lista">
			Documentos enviados para archivo
		</td>
	</tr>
	<tr class="tabla_titulo_color">
	  <td width="80" height="20" valign="middle" class="borde_lista">&nbsp;Fecha Recepci&oacute;n</td>
      <td width="200" height="20" valign="middle" class="borde_lista">&nbsp;Cliente</td>
	  <td width="300"  height="20" valign="middle" class="borde_lista">&nbsp;Tipo Bien</td>
	  <td width="40"  height="20" valign="middle" class="borde_lista">&nbsp;</td>
	</tr>
	{section name=lista loop=$rec_lista}
	<tr class="tabla_titulo_contenido">
		<td width="80" class="borde_lista">
			&nbsp;{$rec_lista[lista.index].fecha}
		</td>
		<td width="200" class="borde_lista">
			&nbsp;{if $rec_lista[lista.index].propi == ''}(X){/if}<strong>{$rec_lista[lista.index].clien}</strong><br>
			&nbsp;{$rec_lista[lista.index].oficina}
		</td>
		<td width="300" class="borde_lista">
			&nbsp;{$rec_lista[lista.index].tbien}<br>
			&nbsp;Recibi&oacute;: {$rec_lista[lista.index].nombu}
		</td>
		<td width="40" class="borde_lista"><div align="center">
			<a href="{$carpeta_entrar}&ingresar=acc&id={$rec_lista[lista.index].id_inf}" onMouseOver=" overlib('Ingresar documentos',CAPTION,'Nueva Carpeta' ); return true" onMouseOut=" nd();   return true"> 
				<img src="../imagenes/pass/aceptadas.gif" border="0"></a>&nbsp;
			<a href="{$carpeta_entrar}&eliminar=acc&id={$rec_lista[lista.index].id_inf}" onMouseOver=" overlib('Quitar de la lista',CAPTION,'Sin carpeta' ); return true" onMouseOut=" nd();   return true" onclick="return confirm('Seguro de quitar de la lista?');"> 
				<img src="../images/actions/cross.png" border="0"></a>
		</div></td>
		
	</tr>
	{/section}
</table>
{/if}
<br>

</div>
</body>
</html>
