<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/autoriza_reportes.js">
</SCRIPT>
<style type=text/css>
</style>
<link href="../styles/php.css" rel="stylesheet" type="text/css">

</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>
<div align="center">
<br>
<table width="620" cellpadding="0" cellspacing="0" border="1" align="center" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td width="620" height="30" valign="middle" class="borde_lista" colspan="2" align="center">
			Impresi&oacute;n de Reportes
		</td>
	</tr>
	
	<tr class="tabla_titulo_contenido">
      <td width="550" height="20" class="borde_lista" valign="middle">&nbsp; Inventario F&iacute;sico Detallado de Carpetas (HTML)</td>
	  <td width="70" class="borde_lista"><div align="center">
			<a href="{$carpeta_entrar}&inv_detallado_carpetas_html=acc" ><img src="../imagenes/pass/printer.png" border="0"></a>
	  </div></td>
	</tr>
	<tr class="tabla_titulo_contenido">
      <td width="550" height="20" class="borde_lista" valign="middle">&nbsp; Detallado de Carpetas Devueltas (HTML)</td>
	  <td width="70" class="borde_lista"><div align="center">
			<a href="{$carpeta_entrar}&detallado_carpetas_dev_html=acc" ><img src="../imagenes/pass/printer.png" border="0"></a>
	  </div></td>
	</tr>
	{if $lst=='1'}
	<tr class="tabla_titulo_contenido">
      <td width="550" height="20" class="borde_lista" valign="middle">&nbsp; Reporte de Auditor&iacute;a</td>
	  <td width="70" class="borde_lista"><div align="center">
			<a href="{$carpeta_entrar}&inv_auditoria=acc" ><img src="../imagenes/pass/printer.png" border="0"></a>
	  </div></td>
	</tr>
	
	<tr class="tabla_titulo_contenido">
      <td width="550" height="20" class="borde_lista" valign="middle">&nbsp; Listado de Carpetas con Documentos Observados</td>
	  <td width="70" class="borde_lista"><div align="center">
			<a href="{$carpeta_entrar}&docsobs=acc" > 
				<img src="../imagenes/pass/printer.png" border="0">
			</a>
	  </div></td>
	</tr>

	<tr class="tabla_titulo_contenido">
      <td width="550" height="20" class="borde_lista" valign="middle">&nbsp; Digitaci&oacute;n de Carpetas (Resumen)</td>
	  <td width="70" class="borde_lista"><div align="center">
			<a href="{$carpeta_entrar}&avanceres=acc"  target="_blank"> 
				<img src="../imagenes/pass/printer.png" border="0">
			</a>
	  </div></td>
	</tr>
	
	<tr class="tabla_titulo_contenido">
      <td width="550" height="20" class="borde_lista" valign="middle">&nbsp; Digitaci&oacute;n de Carpetas (Detalle)</td>
	  <td width="70" class="borde_lista"><div align="center">
			<a href="{$carpeta_entrar}&avancedet=acc"  target="_blank"> 
				<img src="../imagenes/pass/printer.png" border="0">
			</a>
	  </div></td>
	</tr>
	{/if}
	<tr class="tabla_titulo_contenido">
      <td width="550" height="20" class="borde_lista" valign="middle">&nbsp; Inventario F&iacute;sico de Carpetas (Sobres)</td>
	  <td width="70" class="borde_lista"><div align="center">
			<a href="{$carpeta_entrar}&inv_sobres_boveda=acc" ><img src="../imagenes/pass/printer.png" border="0"></a>
	  </div></td>
	</tr>
	<tr class="tabla_titulo_contenido">
      <td width="550" height="20" class="borde_lista" valign="middle">&nbsp; Documentos Digitalizados</td>
	  <td width="70" class="borde_lista"><div align="center">
			<a href="{$carpeta_entrar}&inv_detallado_dcsdigs_imp=acc" ><img src="../imagenes/pass/printer.png" border="0"></a>
	  </div></td>
	</tr>

</table>
<br />

<br />

</div>
</body>
</html>
