<html>
<head>
<title>R&oacute;tulo</title>
<LINK REL='stylesheet' type='text/css' href='../styles/rotulo.css'>
</head>

<body>

<div align="left">

<br>
<table width="550" cellpadding="2" border="0">
<tr>
<td width="500">

<table width="500" border="1" class="bordetabla">

<tr>
<td ><span class="texto_bold12">&nbsp;BANCO SOLIDARIO S.A.</span><br />
	&nbsp;<span class="texto_normal12">AGENCIA: {$oficina}</span><br />
	&nbsp;<span class="texto_normal12">ASESOR: {$asesor}</span>
</td>
</tr>
<tr>
<td width="500">
	<table width="500" border="1" class="bordetabla">
	<tr>
		<td width="200" align="right" class="texto_bold">&nbsp;CLIENTE : &nbsp;</td>
		<td width="300" class="texto_normal">&nbsp;{$cliente}</td>
	</tr>
	<tr>
		<td align="right" class="texto_bold">&nbsp;TIPO DE GARANTIA : &nbsp;</td>
		<td class="texto_normal">&nbsp;{$tipo_bien}</td>
	</tr>
	<tr>
		<td align="right" class="texto_bold">&nbsp;CREDITO : &nbsp;</td>
		<td class="texto_normal">&nbsp;{$credito}</td>
	</tr>

	<tr>
		<td align="right" class="texto_bold">&nbsp;CUENTA : &nbsp;</td>
		<td class="texto_normal">&nbsp;{$cuenta}</td>
	</tr>

	<tr>
		<td align="right" class="texto_bold">&nbsp;INSTANCIA : &nbsp;</td>
		<td class="texto_normal">&nbsp;</td>
	</tr>

	<tr>
		<td align="right" class="texto_bold">&nbsp;FECHA ENVIO A CATASTRO : &nbsp;</td>
		<td class="texto_normal">&nbsp;{$fechaca}</td>
	</tr>
	<tr>
		<td align="right" class="texto_bold">&nbsp;RESPONSABLE : &nbsp;</td>
		<td class="texto_normal">&nbsp;{$responsable}</td>
	</tr>

	</table>
</td>

</tr>
</table>

</td>
<td width="50" nowrap class="texto_bold16" align="center" valign="bottom">
<span id="textovertical">C.I.: {$ci}&nbsp;&nbsp;</span>
</td>
</tr>
</table>
</div>
<br>
</body>
</html>
