<html>
<head>
<title>Terminado</title> 
</SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>

</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>

<div align="center">
	
<br><br>
<table width="620" border="1" cellpadding="0" cellspacing="0" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td width="620" colspan="4" valign="middle" height="30" class="borde_lista"><br><div align="center">Datos guardados, cierre esta ventana o presione el boton terminar</div><br>
		</td>
	</tr>
      <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  <tr class="tabla_titulo_contenido" valign="top"> 
        <td width="620" colspan="4" nowrap align="center" valign="top" class="borde_tabla">

			<input type="submit" name="terminar" class="boton" value="Terminar" onclick="window.close()">&nbsp;


		</td>
      </tr>
    </table>

</div>

</body>
</html>
