<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/comun_solicitud.js">
</SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>

</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" onLoad="cargar_prestar()" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>

<div align="center">
	<table width="620" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
		<td width="420" valign="bottom" height="20">
			<div align="left">
			<font class="tabla_titulo_contenido">
				<strong>Propietario :</strong> {$titulo_nombre}
			</font>
			</div>
		</td>
		<td width="200" valign="bottom" height="20">
			<div align="right">
			<font class="tabla_titulo_contenido">
			<a href="../code/_main.php?action=solicitud_carpeta.php" class="link_tabla">
				Volver a lista de Propietarios
			</a>
			</font>
			</div>
		</td>
		</tr>
		
		<tr>
		<td width="420" valign="middle" height="30">
			<div align="left">
			<font class="tabla_titulo_contenido">
				<strong>CI :</strong> {$titulo_mis}
			</font>
			</div>
		</td>
		<td width="200" valign="middle" height="30">
			<div align="right">
			<font class="tabla_titulo_contenido">
			<a href="../code/_main.php?action=solicitud_carpeta.php" class="link_tabla">
				Volver a lista de Carpetas
			</a>
			</font>
			</div>
		</td>
		</tr>
	</table>
<form name="prestar" method="post" action="../code/_main.php?action=solicitud_carpeta.php" onSubmit="return verificar_prestar()">
<table width="620" border="1" cellpadding="0" cellspacing="0" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td width="620" colspan="4" valign="middle" height="30" class="borde_lista"><div align="center"> 
            Prestamo de Carpetas</div>
		</td>
	</tr>
	
      <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  
	  <tr class="tabla_titulo_contenido" valign="top"> 
        <td width="150" nowrap align="right" class="borde_tabla">Datos de la Carpeta :&nbsp;</td>
        <td width="470" colspan="3" align="left" class="borde_tabla">
		 {$mostrar_carpeta}
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  
	  <tr class="tabla_titulo_contenido"> 
        <td width="150" nowrap align="right" class="borde_tabla">Enviar a :&nbsp;</td>
        <td width="470" colspan="3" align="left" class="borde_tabla">
		 <select name="usuario" class="input">
		 	<option value="ninguno">--------</option>
			{section name=lista loop=$ids_usuario}
				<option value="{$ids_usuario[lista.index]}">{$nombres[lista.index]}</option>
			{/section}
		 </select>
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  
	  <tr class="tabla_titulo_contenido" valign="top"> 
        <td width="150" nowrap align="right" class="borde_tabla">Referencia :&nbsp;</td>
        <td width="470" colspan="3" align="left" class="borde_tabla">
		 <select name="opciones" id="opciones" onChange="javascript:document.getElementById('observacion').value = this.value;">
		 <option value="ninguno">--</option>
		 <option value="Elaboraci&oacute;n de Informe Legal">Elaboraci&oacute;n de Informe Legal</option>
		 <option value="Auditoria Externa">Auditoria Externa</option>
		 <option value="Auditoria Interna">Auditoria Interna</option>
		 <option value="Desembolso Bajo Linea">Desembolso Bajo Linea</option>
		 <option value="Elaboraci&oacute;n de minuta">Elaboraci&oacute;n de minuta</option>
		 <option value="Devoluci&oacute;n Carpeta">Devoluci&oacute;n Carpeta</option>
		 <option value="Inicio de Acci&oacute;n Judicial">Inicio de Acci&oacute;n Judicial</option>
		 <option value="Revisi&oacute;n de Riesgo de Cr&eacute;dito">Revisi&oacute;n de Riesgo de Cr&eacute;dito</option>
		 <option value="Otro">Otro</option>
		 </select>
		</td>
{*****//Se aumentaron dos opciones Bajo Linea e Inicio, Percy 2017-12-16****}
      </tr>
	  <tr class="tabla_titulo_contenido" valign="top"> 
        <td width="150" nowrap align="right" class="borde_tabla">&nbsp;</td>
        <td width="470" colspan="3" align="left" class="borde_tabla">
		 <textarea class="input" name="observacion" id="observacion" rows="3" cols="70"></textarea>
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp;</td>
      </tr>
    </table>

	<table width="620" border="0" class="color_contenido">
      <tr class="tabla"> 
        <td width="620" colspan="2">&nbsp; </td>
      </tr>
      <tr class="tabla"> 
        <td width="310" nowrap><div align="right">
            <input type="submit" name="prestar_boton" value="Prestarse" class="boton">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="hidden" name="prestar_boton_x" value="acc">
			<input type="hidden" name="id" value="{$id}">
			<input type="hidden" name="carpeta_entrar" value="{$carpeta_acc}">
          </div></td>
		  
</form>		
<form name="prestar_cancelar" method="post" action="../code/_main.php?action=solicitud_carpeta.php" onSubmit="des_verificar_prestar()">
        <td width="310"><div align="left">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="prestar_boton_cancelar" value="Cancelar" class="boton"> 
		<input type="hidden" name="carpeta_entrar" value="{$carpeta_acc}">
		<input type="hidden" name="volver_lista" value="acc">
		</div>
		</td>
</form>		
      </tr>
    </table>

</div>

</body>
</html>
