<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/comun.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/lineas.js"></SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>
</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>

<div align="center">
<br>
<form name="frmdatos" method="post" action="{$carpeta_entrar}" onSubmit="return eliminar_confirmar({$elim})">
<table width="620" border="1" cellpadding="0" cellspacing="0" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td class="borde_lista" width="620" colspan="4" valign="middle" height="30"><div align="center"> 
            Eliminaci&oacute;n de L&iacute;nea de Cr&eacute;dito</div>
		</td>
	</tr>
	
      <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>
    

      <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="150" nowrap align="right">N&uacute;mero de L&iacute;nea :&nbsp;</td>
        <td class="borde_tabla" width="470" colspan="3" align="left">
		 <input name="numero" type="text" class="input" value="{$numero}" size="30" readonly>
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="150" nowrap align="right">Importe L&iacute;nea :&nbsp;</td>
        <td class="borde_tabla" width="470" colspan="3" align="left">
		 <input name="importe" type="text" class="input" value="{$importe}" size="15" readonly>&nbsp;
		 {$moneda}
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="150" nowrap align="right">Tipo de L&iacute;nea :&nbsp;</td>
        <td class="borde_tabla" width="470" colspan="3" align="left">
		  {if $tipo=='1'}Rotativa{/if}
		  {if $tipo=='2'}Simple{/if}
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="150" nowrap align="right">Nro. Escritura :&nbsp;</td>
        <td class="borde_tabla" width="470" colspan="3" align="left">
		 <input name="escritura" type="text" class="input" value="{$escritura}" size="20" readonly>
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="150" nowrap align="right">Fecha Escritura :&nbsp;</td>
        <td class="borde_tabla" width="470" colspan="3" align="left">
		 <input name="fecha" type="text" class="input" value="{$fecha}" size="20" readonly>
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="150" nowrap align="right">Nombre Notario :&nbsp;</td>
        <td class="borde_tabla" width="470" colspan="3" align="left">
		 <input name="notario" type="text" class="input" value="{$notario}" size="50" readonly>
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>
</table>

	<table width="620" border="0" class="color_contenido">
      <tr class="tabla"> 
        <td  width="620" colspan="2">&nbsp; </td>
      </tr>
      <tr class="tabla"> 
        <td  width="310" nowrap><div align="right">
            <input type="submit" name="eliminar_boton" value="Eliminar" class="boton">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="hidden" name="idl" value="{$idl}">
			<input type="hidden" name="id" value="{$id}">
          </div></td>
		  
</form>		
<form name="eliminar_cancelar" method="post" action="{$carpeta_entrar}">
        <td  width="310"><div align="left">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="eliminar_boton_cancelar" value="Cancelar" class="boton"> <input type="hidden" name="id" value="{$id}"></div>
		</td>
</form>		
      </tr>
    </table>

</div>

</body>
</html>
