<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/comun_mensajes.js">
</SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>
<link href="../../../../styles/php.css" rel="stylesheet" type="text/css">
<style type=text/css>
</style>

</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>

<div align="center">
	<table width="620" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
		<td width="420" valign="bottom" height="20">
		</td>
		<td width="200" valign="bottom" height="20">
			<div align="right">
			<font class="tabla_titulo_contenido">
			<a href="{$carpeta_entrar}" class="link_tabla">
				Volver a lista de Mensajes
			</a>
			</font>
			</div>
		</td>
		</tr>
	</table>
<form name="formulario" method="post" action="{$carpeta_entrar}" onSubmit="return confirmar_devolver('esta', 'Carpeta')">
<table width="620" border="1" cellpadding="0" cellspacing="0" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td width="620" colspan="4" valign="middle" height="30" class="borde_lista"><div align="center"> 
            Devolviendo la Carpeta al Cliente</div>
		</td>
	</tr>
	
      <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  
	  <tr class="tabla_titulo_contenido" valign="top"> 
        <td width="150" nowrap align="right" class="borde_tabla">Datos de la Carpeta :&nbsp;</td>
        <td width="470" colspan="3" align="left" class="borde_tabla">
		 {$mostrar_propietario}<br><br>
		 {$mostrar_carpeta}
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla"><hr noshade class="borde_lista"></td>
      </tr>

	  <tr class="tabla_titulo_contenido" valign="top"> 
        <td width="150" nowrap align="right" valign="top" class="borde_tabla">Fecha de Devoluci&oacute;n 
          :&nbsp;</td>
        <td width="470" colspan="3" align="left" class="borde_tabla"> <input type="text" name="fecha_dev" id="fecha_dev" size="12" value="{$fecha_dev}" class="input" /> </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  
	  <tr class="tabla_titulo_contenido" valign="top"> 
        <td width="150" nowrap align="right" valign="top" class="borde_tabla">Observaciones :&nbsp;</td>
        <td width="470" colspan="3" align="left" class="borde_tabla">
		 <textarea class="input" name="observacion" rows="3" cols="70"></textarea>
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td width="620" colspan="4" class="borde_tabla">&nbsp; </td>
      </tr>
	  
    </table>

	<table width="620" border="0" class="color_contenido">
      <tr class="tabla"> 
        <td width="620" colspan="2">&nbsp; </td>
      </tr>
      <tr class="tabla"> 
        <td width="310" nowrap><div align="right">
            <input type="submit" name="boton_devolver_propietario" value="Devolver a Cliente" class="boton">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="hidden" name="boton_devolver_propietario_x" value="acc">
			<input type="hidden" name="id" value="{$id_carpeta}">
			<input type="hidden" name="carpeta_entrar" value="{$carpeta_acc}">
          </div></td>
		  
</form>		
<form name="formulario_cancelar" method="post" action="{$carpeta_entrar}" onSubmit="des_confirmar_devolver()">
        <td width="310"><div align="left">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="prestar_boton_cancelar" value="Cancelar" class="boton"> 
		<input type="hidden" name="carpeta_entrar" value="{$carpeta_acc}">
		</div>
		</td>
</form>		
      </tr>
    </table>

</div>

</body>
</html>
