<HTML>
{literal}
<STYLE> 
 A {text-decoration:none}
 A IMG {border-style:none; border-width:0;}
 DIV {position:absolute; z-index:25;}
.fc1-0 { COLOR:000000;FONT-SIZE:19PT;FONT-FAMILY:Times New Roman;FONT-WEIGHT:BOLD;TEXT-DECORATION:UNDERLINE;}
.fc1-1 { COLOR:000000;FONT-SIZE:9PT;FONT-FAMILY:Times New Roman;FONT-WEIGHT:BOLD;}
.fc1-2 { COLOR:000000;FONT-SIZE:9PT;FONT-FAMILY:Times New Roman;FONT-WEIGHT:NORMAL;}
.fc1-3 { COLOR:000000;FONT-SIZE:8PT;FONT-FAMILY:Times New Roman;FONT-WEIGHT:NORMAL;}
.fc1-4 { COLOR:000000;FONT-SIZE:7PT;FONT-FAMILY:Times New Roman;FONT-WEIGHT:NORMAL;}
.ad1-0 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-width:0PX;border-top-width:0PX;border-right-width:0PX;}
.ad1-1 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-style:solid;border-left-width:2PX;border-top-width:0PX;border-right-width:0PX;}
.ad1-2 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-width:0PX;border-top-style:solid;border-top-width:2PX;border-right-width:0PX;}
.ad1-3 {border-color:000000;border-style:none;border-bottom-width:0PX;border-left-style:solid;border-left-width:1PX;border-top-width:0PX;border-right-width:0PX;}
</STYLE>
 {/literal}
<TITLE>Crystal Report Viewer</TITLE>
<BODY BGCOLOR="FFFFFF" LEFTMARGIN=0 TOPMARGIN=0 BOTTOMMARGIN=0 RIGHTMARGIN=0>

<div style="left:32PX;top:315PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:2PX;height:326PX;">
<table width="0px" height="320PX"><td>&nbsp;</td></table>
</div>
<div style="left:784PX;top:315PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:2PX;height:326PX;">
<table width="0px" height="320PX"><td>&nbsp;</td></table>
</div>
<div style="left:32PX;top:315PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:2PX;width:755PX;">
</div>
<div style="left:32PX;top:444PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:2PX;width:753PX;">
</div>
<div style="left:32PX;top:420PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:2PX;width:755PX;">
</div>
<div style="left:320PX;top:420PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:2PX;height:219PX;">
<table width="0px" height="213PX"><td>&nbsp;</td></table>
</div>
<div style="left:456PX;top:420PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:2PX;height:221PX;">
<table width="0px" height="215PX"><td>&nbsp;</td></table>
</div>
<div style="left:512PX;top:420PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:2PX;height:221PX;">
<table width="0px" height="215PX"><td>&nbsp;</td></table>
</div>
<div style="left:587PX;top:420PX;border-color:000000;border-style:solid;border-width:0px;border-left-width:1PX;height:220PX;">
<table width="0px" height="214PX"><td>&nbsp;</td></table>
</div>
<div style="left:32PX;top:639PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:2PX;width:755PX;">
</div>
<div style="left:32PX;top:1072PX;border-color:000000;border-style:solid;border-width:0px;border-top-width:2PX;width:755PX;">
</div>
 
<DIV style="left:184PX;top:240PX;width:432PX;height:39PX;TEXT-ALIGN:CENTER;"><span class="fc1-0">DOCUMENTOS DE LA CARPETA</span></DIV>
 
<DIV style="left:40PX;top:379PX;width:96PX;height:16PX;TEXT-ALIGN:RIGHT;"><span class="fc1-1">Obs. Carpeta :</span></DIV>
 
<DIV style="left:496PX;top:339PX;width:96PX;height:16PX;TEXT-ALIGN:RIGHT;"><span class="fc1-1">Fecha creación :</span></DIV>
 
<DIV style="left:600PX;top:339PX;width:160PX;height:15PX;"><span class="fc1-2">19-Oct-2011&nbsp;&nbsp;18:13</span></DIV>
 
<DIV style="left:144PX;top:339PX;width:332PX;height:16PX;"><span class="fc1-2">BRAVO GONZALES MARIA ESTHER CI: 3588959</span></DIV>
 
<DIV style="left:40PX;top:339PX;width:96PX;height:16PX;TEXT-ALIGN:RIGHT;"><span class="fc1-1">Propietario :</span></DIV>
 
<DIV style="left:144PX;top:403PX;width:374PX;height:16PX;"><span class="fc1-2">ESTEBAN ARCE</span></DIV>
 
<DIV style="left:40PX;top:403PX;width:96PX;height:16PX;TEXT-ALIGN:RIGHT;"><span class="fc1-1">Oficina:</span></DIV>
 
<DIV style="left:38PX;top:428PX;width:164PX;height:16PX;"><span class="fc1-1">DOCUMENTO</span></DIV>
 
<DIV style="left:456PX;top:428PX;width:56PX;height:16PX;TEXT-ALIGN:RIGHT;"><span class="fc1-1">Fojas&nbsp;&nbsp;</span></DIV>
 
<DIV style="left:328PX;top:428PX;width:120PX;height:16PX;"><span class="fc1-1">Tipo de documento</span></DIV>
 
<DIV style="left:592PX;top:428PX;width:142PX;height:15PX;"><span class="fc1-1">Observación</span></DIV>
 
<DIV style="left:528PX;top:428PX;width:48PX;height:15PX;"><span class="fc1-2">Fecha</span></DIV>
 
<DIV style="left:264PX;top:428PX;width:40PX;height:16PX;"><span class="fc1-1">Nro.</span></DIV>
 
<DIV style="left:40PX;top:446PX;width:216PX;height:15PX;"><span class="fc1-3">AVALUO INMUEBLE</span></DIV>
 
<DIV style="left:464PX;top:446PX;width:34PX;height:16PX;TEXT-ALIGN:RIGHT;"><span class="fc1-3">11</span></DIV>
 
<DIV style="left:328PX;top:446PX;width:122PX;height:15PX;"><span class="fc1-3">ORIGINAL</span></DIV>
 
<DIV style="left:264PX;top:446PX;width:52PX;height:13PX;"><span class="fc1-4">6842</span></DIV>
 
<DIV style="left:520PX;top:446PX;width:62PX;height:13PX;"><span class="fc1-4">05/10/2010</span></DIV>
 
<DIV style="left:40PX;top:466PX;width:216PX;height:15PX;"><span class="fc1-3">CEDULA DE IDENTIDAD</span></DIV>
 
<DIV style="left:464PX;top:466PX;width:34PX;height:16PX;TEXT-ALIGN:RIGHT;"><span class="fc1-3">1</span></DIV>
 
<DIV style="left:328PX;top:466PX;width:122PX;height:15PX;"><span class="fc1-3">FOTOCOPIA SIMPLE</span></DIV>
 
<DIV style="left:264PX;top:466PX;width:52PX;height:13PX;"><span class="fc1-4">3588959</span></DIV>
 
<DIV style="left:40PX;top:485PX;width:216PX;height:28PX;">
<table width="211PX" border=0 cellpadding=0 cellspacing=0>
<tr><td class="fc1-3">CEDULA DE IDENTIDAD DEL </td></tr>
<tr><td class="fc1-3">CODEUDOR</td></tr></table>
</DIV>
 
<DIV style="left:464PX;top:485PX;width:34PX;height:16PX;TEXT-ALIGN:RIGHT;"><span class="fc1-3">1</span></DIV>
 
<DIV style="left:328PX;top:485PX;width:122PX;height:15PX;"><span class="fc1-3">FOTOCOPIA SIMPLE</span></DIV>
 
<DIV style="left:264PX;top:485PX;width:52PX;height:13PX;"><span class="fc1-4">2206533</span></DIV>
 
<DIV style="left:40PX;top:514PX;width:216PX;height:28PX;">
<table width="211PX" border=0 cellpadding=0 cellspacing=0>
<tr><td class="fc1-3">CERTIFICADO DE REGISTRO </td></tr>
<tr><td class="fc1-3">CATASTRAL</td></tr></table>
</DIV>
 
<DIV style="left:464PX;top:514PX;width:34PX;height:16PX;TEXT-ALIGN:RIGHT;"><span class="fc1-3">1</span></DIV>
 
<DIV style="left:328PX;top:514PX;width:122PX;height:15PX;"><span class="fc1-3">ORIGINAL</span></DIV>
 
<DIV style="left:264PX;top:514PX;width:52PX;height:13PX;"><span class="fc1-4">8661</span></DIV>
 
<DIV style="left:520PX;top:514PX;width:62PX;height:13PX;"><span class="fc1-4">27/10/2005</span></DIV>
 
<DIV style="left:40PX;top:542PX;width:216PX;height:15PX;"><span class="fc1-3">FOLIO REAL</span></DIV>
 
<DIV style="left:464PX;top:542PX;width:34PX;height:16PX;TEXT-ALIGN:RIGHT;"><span class="fc1-3">1</span></DIV>
 
<DIV style="left:328PX;top:542PX;width:122PX;height:15PX;"><span class="fc1-3">ORIGINAL</span></DIV>
 
<DIV style="left:264PX;top:542PX;width:52PX;height:13PX;"><span class="fc1-4">6894743</span></DIV>
 
<DIV style="left:520PX;top:542PX;width:62PX;height:13PX;"><span class="fc1-4">30/09/2010</span></DIV>
 
<DIV style="left:40PX;top:561PX;width:216PX;height:15PX;"><span class="fc1-3">IMPUESTOS VARIAS GESTIONES</span></DIV>
 
<DIV style="left:464PX;top:561PX;width:34PX;height:16PX;TEXT-ALIGN:RIGHT;"><span class="fc1-3">5</span></DIV>
 
<DIV style="left:328PX;top:561PX;width:122PX;height:15PX;"><span class="fc1-3">ORIGINAL</span></DIV>
 
<DIV style="left:264PX;top:561PX;width:52PX;height:13PX;"><span class="fc1-4">0</span></DIV>
 
<DIV style="left:40PX;top:581PX;width:216PX;height:28PX;">
<table width="211PX" border=0 cellpadding=0 cellspacing=0>
<tr><td class="fc1-3">PLANO DE UBICACION Y </td></tr>
<tr><td class="fc1-3">REGULARIZACION DE LOTE</td></tr></table>
</DIV>
 
<DIV style="left:464PX;top:581PX;width:34PX;height:16PX;TEXT-ALIGN:RIGHT;"><span class="fc1-3">1</span></DIV>
 
<DIV style="left:328PX;top:581PX;width:122PX;height:15PX;"><span class="fc1-3">FOT. LEGALIZADA</span></DIV>
 
<DIV style="left:40PX;top:609PX;width:216PX;height:15PX;"><span class="fc1-3">TITULO DE PROPIEDAD INMUEBLE</span></DIV>
 
<DIV style="left:464PX;top:609PX;width:34PX;height:16PX;TEXT-ALIGN:RIGHT;"><span class="fc1-3">1</span></DIV>
 
<DIV style="left:328PX;top:609PX;width:122PX;height:15PX;"><span class="fc1-3">ORIGINAL</span></DIV>
 
<DIV style="left:264PX;top:609PX;width:52PX;height:13PX;"><span class="fc1-4">322936</span></DIV>
 
<DIV style="left:608PX;top:1080PX;width:168PX;height:15PX;TEXT-ALIGN:RIGHT;"><span class="fc1-2">Page 1 of 1</span></DIV>
 
<DIV style="left:40PX;top:1080PX;width:68PX;height:15PX;"><span class="fc1-2">24-Oct-11</span></DIV>
 
<DIV style="left:120PX;top:1080PX;width:48PX;height:15PX;"><span class="fc1-2">14:19</span></DIV>
<BR>
</BODY></HTML>

