<html>
<head>
<title>Administracion de Sistemas</title>
<SCRIPT LANGUAGE="JavaScript" src="../scripts/almacenes.js">
</SCRIPT>
<LINK REL='stylesheet' type='text/css' href='../styles/php.css'>

</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" onLoad="cargar_adicionar()" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>

<div align="center">
<br>
<form name="adicionar" method="post" action="../code/_main.php?action=adm/almacenes.php" onSubmit="return verificar_adicion()">
<table width="620" border="1" cellpadding="0" cellspacing="0" class="borde_lista">
	<tr class="tabla_titulo_color">
		<td class="borde_lista" width="620" colspan="4" valign="middle" height="30"><div align="center"> 
            Adici&oacute;n de Recinto</div>
		</td>
	</tr>
	
      <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="150" nowrap align="right">Nombre :&nbsp;</td>
        <td class="borde_tabla" width="470" colspan="3" align="left">
		 <input name="nombre" type="text" class="input" id="nombre" value="" size="70" maxlength="100">
		</td>
      </tr>
	  
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" nowrap align="right">Correo Cartera :&nbsp;</td>
        <td class="borde_tabla" colspan="3" align="left">
		 <input name="correoe" type="text" class="input" id="correoe" value="" size="70" maxlength="50">
		</td>
      </tr>
	  
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp; </td>
      </tr>
	   <!-- tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" nowrap align="right">Asesor Legal :&nbsp;</td>
        <td class="borde_tabla" colspan="3" align="left">
		 <select name="id_usautoriza" id="id_almacen" >
		 {section name=list loop=$usuarios}
			<option value='{$usuarios[list].id_usuario}'>{$usuarios[list].nombres}</option>
		 {/section}
		 </select>
		</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp;</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" nowrap align="right">Catastro :&nbsp;</td>
        <td class="borde_tabla" colspan="3" align="left">
		 <select name="id_usarchivo" id="id_almacen" >
		 {section name=list loop=$usuarios}
			<option value='{$usuarios[list].id_usuario}'>{$usuarios[list].nombres}</option>
		 {/section}
		 </select>
		</td>
      </tr -->
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4" align="center">* Para asignar el Asesor Legal y Responsable de Catastro edite este recinto luego de crearlo.</td>
      </tr>
	  <tr class="tabla_titulo_contenido"> 
        <td class="borde_tabla" width="620" colspan="4">&nbsp;</td>
      </tr>
    </table>

	<table width="620" border="0" class="color_contenido">
      <tr class="tabla"> 
        <td  width="620" colspan="2">&nbsp; </td>
      </tr>
      <tr class="tabla"> 
        <td  width="310" nowrap><div align="right">
            <input type="submit" name="adicionar_boton" value="Adicionar" class="boton">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="hidden" name="existentes" value="{$existentes}">
          </div></td>
		  
</form>		
<form name="adicionar_cancelar" method="post" action="../code/_main.php?action=adm/almacenes.php">
        <td  width="310"><div align="left">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="adicionar_boton_cancelar" value="Cancelar" class="boton"> </div>
		</td>
</form>		
      </tr>
    </table>

</div>

</body>
</html>
