<html>
<head>
<title>Administracion de Sistemas</title>

<LINK REL='stylesheet' type='text/css' href='../archivo/php.css'>
<LINK REL='stylesheet' type='text/css' href='../../archivo/php.css'>
<style type=text/css>
</style>
<link href="../../../archivo/php.css" rel="stylesheet" type="text/css">
</head>

<body style="SCROLLBAR-FACE-COLOR: {$color_de_scroll};" bottomMargin=0 leftMargin=0 topMargin=0 rightMargin=0 
marginheight="0" marginwidth="0" class="color_contenido">
<DIV ID='overDiv' STYLE='position:absolute; visibility:hide; z-index:1;'></DIV>
<SCRIPT LANGUAGE='JavaScript' SRC='../overlib/overlib.js'></SCRIPT>
<div align="center">
<br>
<table width="500" cellpadding="0" cellspacing="0" border="1" align="center" class="borde_lista">
	<tr class="tabla_titulo_color">
		
      <td class="borde_lista" width="500" colspan="3" height="20" valign="middle"> 
        &nbsp;Tipo de Tr&aacute;mite</td>
	</tr>
	{section name=lista loop=$ids_tipo_tramite}
	<tr class="tabla_titulo_contenido">

		<td class="borde_lista" width="400"><div align="left">
			&nbsp;{$ids_tipo_tramite[lista.index].des}
		</div></td>
		<td class="borde_lista" width="50"><div align="center">
			<a href="tipos_tramite.php?modificar=acc&id={$ids_tipo_tramite[lista.index].id}" onMouseOver=" overlib('Modificación del Tipo de Tramite',CAPTION,'Modificar' ); window.status='Modificación'; return true" onMouseOut=" nd();   return true"> 
				<img src="../imagenes/pass/modificar.jpg" border="0">
			</a>
		</div></td>
		<td class="borde_lista" width="50"><div align="center">
			<a href="tipos_tramite.php?eliminar=acc&id={$ids_tipo_tramite[lista.index].id}" onMouseOver=" overlib('Eliminación del Tipo de Tramite',CAPTION,'Eliminar' ); window.status='Eliminación'; return true" onMouseOut=" nd();   return true"> 
				<img src="../imagenes/pass/eliminar.jpg" border="0">
			</a>
		</div></td>
	</tr>
	{/section}
</table>
<br><br>
<form name="adicion" method="post" action="tipos_tramite.php">
<table width="620" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td  width="620"><div align="center">
			<input type="submit" name="adicionar" value="Adicionar Tipo" class="boton">
		</div></td>
	</tr>
</table>
</form>
<br>
</div>
</body>
</html>
